[2018-07-02 09:26] davidcgu opened #1 "Command always send 3 times"
Sorry I messed up, found some mistakes on my code that was making me lost.

[2018-08-29 08:16] ententeak opened #2 "TC2 dont work"
"Remote" Broadlink RM Pro (RM2 - "old" black version)
platform OpenHabian Pine64 with NodeRed plugin

Almost everything works (IR blaster, RF remote for STBox)
But i cant get working original Broadlink TC2 light switches..

When set "Inject" >> "RM node" >> "Debug"

I get in debug window

`{"remote":"10","button":"55","status":"OK","code":[-23,0,70,0,-33,9,9,22,9,22,22,9,22,9,9,22,9,22,22,9,22,9,9

[2018-11-10 07:57] #1 closed

[2018-11-17 09:17] mlfunston commented on #2
TC2 devices are not defined in the node at present. I don't have one to test either, but if you get the type ID by discovering it, we might be able to set it up as a defined device.

I'll upload a new version soon so that you can get the type ID.

[2018-11-17 21:51] ententeak commented on #2
I'm not sure how do you mean "to discover", but when i run HTTP bridge in "RM Plugin" for Tasker on my phone, i get this codes, if this help you... ("Jednotlačítkový vypínač" = "single button switch" in czech)

First TC2 (Living Room):
`{"code":"e9144600df090916091616091609091609161609160909161609091616091609160909160916160909160916160909160916091616091609160916091609091609160916160909000148","cod

[2018-11-18 13:48] odenisnobre opened #3 "Error Dashboard"
After installation and configuration of the component it worked normally.
But I've noticed that the Dashboard has been bugged since:
![image](https://user-images.githubusercontent.com/8119694/48673373-d08db580-eb27-11e8-9aa2-cedf835dc0b1.png)

[2018-11-21 21:47] ivog1 opened #4 "There is a very big issue related to UDP ports handling"
Every message sent through given broadlink node creates new UDP listener and this listener stays forever.
In result after 64k (max) messages the host system is overloaded with opened UDP ports, NR throws error and restarts itself.
To check the growing number of opened ports use this shell command: "netstat -na |grep udp"

Simple solution: As example here is a modified  part of SP2Node.js:

...

th

[2018-11-24 06:25] mlfunston commented on #4
You're right. I'll have a look at it. Thanks for the info!

[2018-11-24 06:33] mlfunston commented on #3
I don't have that issue. Is there any other item it could be? A reboot of the node perhaps?

[2018-11-24 06:35] odenisnobre commented on #3
I already did this and it was not resolved.

What he decided was to change the door of the NR from 1880 to 2410.

With that he did not present any more problems. I do not know if other devices could interfere with the ports.

[2018-11-24 18:00] ententeak commented on #2
just little notice:
TC2's don't work for me even under "original" [VladimirSFilippov's nodes](https://github.com/VladimirSFilippov/node-red-contrib-broadlink)...

Edit:
**another test:**
Normaly i'm using node-red on Pine64 with OpenHABian, so i've decided to test it on my "main" Windows-powered PC. Thus i've installed node.js, node-red, this plugin and "SharedData" folder (BTW: on android its in

[2018-11-25 09:02] #2 closed, assigned to mlfunston

[2018-11-25 09:02] #4 closed, assigned to mlfunston

[2018-11-25 09:05] mlfunston commented on #2
Yes, I did some research on it. At the moment, the only way to control the TC2 is via the RF codes through an RM Pro device. Not the best, but it does work fine apparently.

[2018-11-25 09:07] mlfunston commented on #2
PS - I put some notes in the Readme on this. You may need to send the code multiple times to make sure it is sent correctly when using RF signals from the RM Pro. So if sending once doesn't work, copy 2, 3, 4, 5, 6 times into the send packet and try that.

[2018-11-25 09:08] mlfunston commented on #4
Thanks for the help, I have updated and closed this. Seems to work ok now from my limited testing.

[2018-11-25 09:10] mlfunston commented on #3
Ok, seems to be some clash somewhere with ports. The Broadlink messages are sent via UDP from a random port but it shouldn't interfere with the dashboard. I'll close this now it's sorted for you.

[2018-11-25 09:10] #3 closed, assigned to mlfunston

[2018-12-01 12:32] mreyad commented on #2
I have similar setup with same problem with TC2.
I am using OpenHab2 with node-red for home automation. The broadlink RM pro controlling the RF and IR devices using the "node-red-contrib-broadlink".

For light switches, I have TC2 and generic RF light switches. I agree with @mlfunston that sometimes you need to repeat the RF code to switch ON or OFF the light, but this way didn't work with TC2.

B

[2018-12-23 19:56] Boco10 opened #6 "button list names only appears with user defined codes"
Hello,

Node-red , RM node, device properly set, action send, device chosen, button list 9/10 is empty names only appears on the ones which was defined by me inside the app, remote device, more tab.

[2018-12-25 11:07] jcf6288 opened #7 "Energy Reading Incorrect"
Energy is not reading correctly in watts.  45w shows around 68 when pulled through NodeRed.

[2019-01-02 02:31] mlfunston commented on #7
What device were you using?
I assume that the 45w was showing in some other application?
The only thing I can see here is perhaps there is some ascii translation that is converting the 45 from a hex value to a decimal 68/69 value somewhere along the line.

Is anyone else having this issue?

[2019-01-02 02:34] mlfunston commented on #6
Which version of the broadlink app were you using to pull the the SharedData folder from and was it iOS or Android? Perhaps there was some change to the file format now?
Can you send a copy of your SharedData folder perhaps?

[2019-01-02 03:41] jcf6288 commented on #6
I was just using the econtrol app with a SP3 outlet, and the energy is different than what shows in node red vs the app.  No shared data required.
________________________________
From: Mark Funston <notifications@github.com>
Sent: Tuesday, January 1, 2019 6:34 PM
To: mlfunston/node-red-contrib-broadlink-control
Cc: Subscribed
Subject: Re: [mlfunston/node-red-contrib-broadlink-control] button list

[2019-01-04 18:37] sergiocntr opened #8 "time out"
Notice that, during learn, you have only 3 sec for send the beam ,or you'll get a uncaught exception.

`4 Jan 19:16:47 - [warn] [RM:broadRM] Please tap the remote button.
4 Jan 19:16:50 - [red] Uncaught Exception:
4 Jan 19:16:50 - TypeError: Cannot read property 'checkData' of null at Timeout._onTimeout (/home/pi/.node-red/node_modules/node-red-contrib-broadlink-control/nodes/RMNode.js:76:75)

[2019-01-06 02:42] mlfunston commented on #6
@jcf6288 - This item is for issue #7 not issue #6

[2019-01-06 02:44] mlfunston commented on #8
Ok, this is probably related to issue #4. Will need to rearrange some code to fix it.

[2019-01-06 07:53] sergiocntr commented on #8
Ok thank you so much for your attention Mark. I'm trying to integrate my
home system with Google assistant and the best as  I know is to make a
scene in broadlink app then synchronize with google.When I call the scene,
Node red should get the it ir code from your node and send a mqtt
command,upon the code of course. The mqtt part is all done,do you think can
I manage this? Thanks so much for your

[2019-02-04 20:24] lotek4u opened #9 "ENHANCEMENT: Add capability to use Broadlink IHC app data files"
Is this designed to work with the Broadlink e-control app or the Broadlink IHC (Intelligent Home Center) app? The e-control app no longer allows me to log in, so I'm hoping this is designed for IHC. Regardless, when I setup a custom remote and learn the buttons, I'm able to use my RMmini3 withe the IHC app and successfully control my TV. When I sync up to my android and locate the SharedData folde

[2019-02-05 14:36] mlfunston commented on #9
It was designed to use the SharedData folder that gets exported from the e-control app. I haven't tested it with the IHC app. In the SharedData folder there will be some files in there called jsonDevice and jsonIrCode that contain all the data.

You can still learn and play back IR codes with the RMmini devices without using the app, but you would need to manually learn and store each of these usi

[2019-02-05 15:16] #8 closed, assigned to mlfunston

[2019-02-05 15:24] mlfunston commented on #8
@sergiocntr - I believe I have this timeout fixed now. It should allow 30 seconds for the IR code to be learned.
You can certainly learn and store the codes and then play them back using the nodes here. It's much the same as what I'm doing at my home.
Mark

[2019-02-06 08:53] jairo-futurasmus opened #10 "node-network breaks when looking for new devices"
Hello:

this is the error:
`
6 Feb 09:45:55 - [red] Uncaught Exception:

6 Feb 09:45:55 - ReferenceError: _device is not defined

   at Timeout._onTimeout (/home/jairo/.node-red/node_modules/node-red-contrib-broadlink-control/nodes/DiscoverNode.js:56:17)

   at ontimeout (timers.js:482:11)

   at tryOnTimeout (timers.js:317:5)

   at Timer.listOnTimeout (timers.js:277:5)
`
node-network crashes com

[2019-02-06 09:02] jairo-futurasmus commented on #6
The application does not seem to assign button names to the device templates.
For example, this configuration corresponds to a Samsung remote control, it only saves in the name of a button that I have assigned manually.

android 8
version: 3.8.16

[jsonButton.txt](https://github.com/mlfunston/node-red-contrib-broadlink-control/files/2835486/jsonButton.txt)
[jsonIrCode.txt](https://github.com/mlfun

[2019-02-09 06:08] #10 closed, assigned to mlfunston

[2019-02-09 06:28] mlfunston commented on #6
Yes, correct. The app only puts in names in the ones you manually add/learn. Unfortunately the only way I can see to assign names to those buttons in the file exported (jsonButton) would be to manually add the name into the name section of the file itself. Then it will use that name for the buttons. There is no other text to display for that button in the file.

`{"id":1,"subIRId":1,"name":" ***IN

[2019-02-09 07:13] mlfunston commented on #9
Just checked it with the IHC (econtrol-plus) app and it does not use the same file structure. It appears that the data is probably stored in some form of database file, rather than json files. So this will need to reverse engineering on the files to make it work with the IHC app.

If anyone has details on the IHC app file structure, please contribute.

[2019-02-11 17:19] lotek4u commented on #9
Sorry, was a way this weekend. Thanks for responding. I'd be happy to give it a go if you could send me a set of files for IHC and a set for the old app, configured the same. I've had luck in the past doing such things. I'd gather the files myself but I cannot create a new account and log into the old app.

[2019-02-11 20:40] TomyCesaille opened #11 "Broadlink MP1 Validation"
Hello,
Broadlink MP1 (4 Outlet Power Strip) device seems to be working. Just saying as README declare it was not tested.
### Get, Set actions
**Get & Get** actions are both working.

Small issue: One **Set** might be missed when changing 2+ sockets state 'at the same time' (like in screenshot below).
![](https://i.imgur.com/iXvLhS0.png)
However, there are no issues when setting 2+ sockets state us

[2019-02-12 03:28] jdevine82 commented on #9
I am just setting up a new device and it seems that the econtrol app is no longer supported by the rm mini3 firmware. The device works with IHC for android. We will have to have a look at this database thing.

[2019-02-12 15:36] lotek4u commented on #11
Regarding your small issue of missing some "set" commands, this happens with many node-red flows I have. I usually introduce a delay node with about 100 msecs on (for instance) the line going to s2. It's not ideal, but it gets around the issue which I think is a node-red issue and not really related to the nodes in question.

[2019-02-17 12:22] mlfunston commented on #11
Hi @TomyCesaille - Thanks for the info, I'll mark it as working in the Readme.

For the set via msg.payload function, it needs to be in the following format as I understand it.

[code]

As for the other issue, it's either the issue mentioned by @lotekjunky or possibly that the Broadlink unit can't respond to two subsequent requests that quickly.
Does it work if you do them serially? Or by setting

[2019-02-24 19:36] TomyCesaille commented on #11
Hi @mlfunston, I tried your payload and it makes nodered crash.
Format might be good then, but this is leading to an exception.
[code]

This is fine when assigning multiple SET in 1 flow serially.

[2019-03-03 13:52] sergiocntr commented on #8
thank you so much also for last images added.

[2019-03-05 15:40] mlfunston commented on #6
@jairo-futurasmus & @Boco10 - I have added some example code to edit the broadlink files directly and add new learned commands directly. I hope this is of assistance to you. Also refer to the readme as there are perhaps some relevant comments in there about the files themselves having bad characters in them.

[2019-03-05 15:40] #6 closed, assigned to mlfunston

[2019-03-05 15:42] mlfunston commented on #9
@lotekjunky & @jdevine82  - I have updated and fixed the example code and put some details in the readme for instructions on how to learn new codes and add them to the broadlink files directly. I guess this is a temporary fix, although it's possible broadlink may change things / firmware so we can't use the API any more. For now, it seems to work ok with the example methods.

[2019-03-07 12:04] KeesKemper opened #12 "Starting"
Starting node-RED gives the following issue:

7 Mar 10:32:21 - TypeError: Cannot read property 'code' of undefined
at /home/pi/.node-red/node_modules/node-red-contrib-broadlink-control/nodes/RMNode.js:92:143
nodered.service: Main process exited, code=exited, status=1/FAILURE
nodered.service: Unit entered failed state.
nodered.service: Failed with result 'exit-code'.

[2019-03-12 22:18] win22jim opened #13 "Noob question: Can someone help me get started?"
I have been trying to get this to work for quite some time now, and I am struggling. I am new to NodeRed so I am still learning. Can someone please help me understand how to use this? I am using the RM mini 3. I have successfully used the learn command and the discover node. Getting the buttons from the app on my phone didn't work, so I am trying to do it programmatically. I can get the array from

[2019-03-16 00:57] mlfunston commented on #13
Try the example code for learn and send data.

Click on the hamburger button in node red in the top right corner, select import, then examples, then broadlink-control and pick learn and send data.
<img width="1040" alt="Example Code" src="https://user-images.githubusercontent.com/27909227/54468573-ef940f80-47c8-11e9-92e1-5f0f1c4feae1.png">

In the Send Data example you will find a function node wi

[2019-03-16 01:02] mlfunston commented on #12
Do you have the jsonIrCode file populated with data in the correct format and the correct catalog folder path to the file in the RM node config?

[2019-03-17 09:14] KeesKemper commented on #12
I have found out that there was an error in the Action set from the msg.payload. But that should not be a reason to stop the complete nodered service. In that way it's very complicated to make a correction.

[2019-03-18 01:14] mlfunston commented on #12
Ok - Can you let me know what msg you sent in and I can see if the error handling can be improved to address it.

[2019-03-18 07:09] KeesKemper commented on #12
The wrong msg I had sent in was:
- msg,payload,action = "send" (that's OK)
- msg,payload.remote = "2" (that's OK)
- msg.payload.button = "" (that's a not existing button)

[2019-03-19 03:02] win22jim commented on #13
Worked Perfect. Thanks for your help!

[2019-03-19 03:02] #13 closed, assigned to nobody

[2019-05-12 13:06] kungfo0 opened #14 "Exception when learning rf"
When using learn with rf-sweep the following exception is thrown:
[code]

[2019-05-16 12:32] mlfunston commented on #14
Ok, will look into it when I get a chance, but I can't test it. I may need to send you a Beta version to check it. Probably next week or two.

[2019-05-30 06:31] michaltaberski opened #15 "Broadlink as an IR reciever?"
Hi,

I wonder if it's possible to setup Broadlink as an IR receiver. What I would like to do is to use my universal traditional IR remote, and use it to control light. I can already control light through node-red. More or less like this:

[code]

Technically Broadlink has IR reciever because it can learn from other remotes, but can it be used permanently through node-red?

[2019-05-30 09:56] mlfunston commented on #15
It can’t as it is currently set up in the node but I can see if it’s possible to create a new continuous receiver node to continually spit out the IR codes.

You would then need to process them and filter out the other signals it receives though as it will be listening to any IR signals.

I have a Logitech remote doing something similar but was going to look at using the broadlink instead.

I’ll l

[2019-05-30 19:52] michaltaberski commented on #15
Thanks! Looking forward. I am pretty new to node-red but if I could support you anyhow please let me know.

[2019-06-25 22:36] Erbachm opened #16 "IR code format"
I need to manually add an IR code into one of my nodes (force power off on a Samsung TV). I've found a place online that provides this code in hex format but am not sure how to translate into the format used by the RM Mini. Are you able to assist? The specific code I'm looking to adapt is...

discreet off 0x00 0x00 0x00 0x01

I'm assuming it's not as simple as 0,0,0,1

[2019-06-30 07:56] mlfunston commented on #16
Those look to be codes for the serial interface or API, not for the IR receiver. The IR codes are usually a long string of bytes.

If you have the remote for it you could learn the code from the learn example function and store that for use later. Alternately if you can find the IR codes on a database online for your particular model, you may be able to use that also.

You also could try the below

[2019-06-30 07:56] #16 closed, assigned to nobody

[2019-08-20 13:28] phreaq opened #17 "Question about passing data"
I'm using the Broadlink nodes to turn off and on my ACs, and I found some code here and there to get me what I need:

My question is, what's the significance of the 'repeat' value? What affect does it have?

TIA

[2019-11-01 21:32] HernanLencinas opened #18 "MP1 How to turn on/off only 1 socket at time"
Hello,
Im trying to create a flow on node-red to turn on/off only 1 socket at time.
For example, turn on/off only s1 but when I config like this node-red crash

{
    "action": "setState",
    "state": true,
    "s1": true,
}

1 Nov 18:08:33 - SyntaxError: Unexpected token u in JSON at position 0
    at JSON.parse (<anonymous>)
    at MP1._device.on (/root/.node-red/node_modules/node-red-contrib-b

[2019-11-04 05:38] mlfunston commented on #18
This looks to be related to #11 . There appears to be an issue in the code but I have not had a chance to look into it yet and don't have a unit to test with.
Have you tried a get state and then send the change along with the previous state of the other ones?

[2019-11-04 15:01] HernanLencinas commented on #18
I have several units available. If I give you remote access can you do the tests you need?

[2019-11-19 16:38] cacherocks commented on #14
I have the same problem.

[2019-12-01 21:05] richard-kramer commented on #14
Got the same problem.

[2019-12-07 08:55] mlfunston commented on #17
The repeat value was originally used to repeat sending the data stream to the device. However I think there were some issues with it and it's now no longer used and is stripped from the code. So you no longer need to include that .

[2019-12-07 08:55] #17 closed, assigned to nobody

[2019-12-07 09:02] mlfunston commented on #18
I've ordered a unit myself to do some testing. Trying to remotely connect will be difficult.

I tried doing some tests separately on the code and it seems to work ok, but you need to include all 4 s parameters. If you want to change s1 and s3 for example, send the following:

`{
    "action": "setState",
    "state": false,
    "s1": true,
    "s2": false,
    "s3": true,
    "s4": false
}`

Only

[2019-12-07 09:09] mlfunston commented on #15
I've done some testing on this. It seems that the Broadlink unit cannot be left open as a receiver all the time. When you ask it to receive data it will only keep the unit open to signals for 30 seconds and then time out and stop receiving. It would probably need a firmware change to stop this I think unless anyone has any other ideas.

I have set up a test node and can poll the unit continuously

[2019-12-07 09:11] mlfunston commented on #12
Ok have added some error handling for this and will publish it in the next release.

[2019-12-07 09:14] mlfunston commented on #11
I tried doing some tests separately on the code and it seems to work ok, but you need to include all 4 s parameters. If you want to change s1 and s3 for example, send the following:

{ "action": "setState", "state": false, "s1": true, "s2": false, "s3": true, "s4": false }

Only the switches marked with true will be changed to the state defined - false (off) in the case above.

Let me know if that

[2019-12-15 23:18] dr-boss opened #19 "RM.. - Code fix paramaeter"
I can'r find what doing this parameter. If I change from 1 to any other the send RF command not work. But what exactly happen I don't now. Please help me, thank.

[2019-12-30 20:01] Andrew49 opened #20 "Broadlink RM 'learn' RF not working on recent RMPro+"
Unable to learn RF codes in Node-Red, using a recently bought RMPro+. I get "Please keep long press on the remote button until scan finishes." followed after some seconds by "Please tap the remote button." but even when I tap or hold the button nothing more happens, no message with the received codes or any other indication what is wrong. I can learn the codes for my two remotes ok with the Broadl

[2020-01-06 09:01] mlfunston commented on #19
The fix parameter appends another copy of the RF code string to the end of the current code string. It should only be used if it is required (I believe if the string is not divisible by 16). If you pull the code from the app it should be ok I think.

Note below from the readme also. The fix parameter does the appending of additional strings (eg setting 1,2 3, etc will add extra copies).

The TC2 d

[2020-01-06 09:01] #19 closed, assigned to mlfunston

[2020-01-06 09:10] mlfunston commented on #20
It's possible that Broadlink may have changed the process on the newer units / firmware.

Does anyone else have this working or not on older or newer units?

Unfortunately I don't have one to test with.

[2020-01-07 00:09] dr-boss commented on #19
Big thx for information.
In my situation is interesting that after change 'fix' from 1 to 2 or other values the command stop working. The commands is on or off send from RMPro direct to 433Mhz wall plugs. With value 1 all work fine :-). The commands is learned by RMPro.

[2020-01-24 15:17] sdalee opened #21 "JsonIrCode file modification"
Hello,

This is super control. Everything works fine,  but I have a little a problem.
I would like to switch off my Samsung TV, controlled by node-red.
Unfortunately the Ir remote control of TV consist of one power button, so the node-red doesn't know that it switches off or on the tv.
There are several Ir code pages on the internet (for example [samsung tv codes](http://www.remotecentral.com/cgi-

[2020-02-29 09:12] mlfunston commented on #21
Easiest way is just to use the Learn and Send example and learn the power button code directly from the remote. Then store that and send it whenever you need.

[2020-02-29 09:12] #21 closed, assigned to nobody

[2020-02-29 09:13] #15 closed, assigned to mlfunston

[2020-03-19 14:49] karmarcharger opened #22 "Beginner question"
Hi, I recently started using the Broadlink RM4 Pro, and was able to discover it via the discover node, however it had an error message in the payload.
![image](https://user-images.githubusercontent.com/10364143/77079677-5929a800-6a33-11ea-9dfd-217db21125b1.png)
I added the device to the RM node from the learning example
![image](https://user-images.githubusercontent.com/10364143/77079855-955d0880-

[2020-03-19 14:55] karmarcharger commented on #22
*Note the RM4 Pro is already configured via the Broadlink Application

[2020-03-21 05:24] mlfunston commented on #22
Looks like it's a new device that isn't tested with the node. I'll add the device type and you can test it and see. I'll do an update in a couple of days.

[2020-03-22 07:53] mlfunston commented on #7
Test release ready in v1.0.8

[2020-03-22 07:53] #7 closed, assigned to nobody

[2020-03-22 07:54] mlfunston commented on #11
Updated in v1.0.8

[2020-03-22 07:54] #11 closed, assigned to mlfunston

[2020-03-22 07:54] mlfunston commented on #12
Updated in v1.0.8

[2020-03-22 07:54] #12 closed, assigned to mlfunston

[2020-03-22 07:55] mlfunston commented on #14
Updated in v1.0.8

[2020-03-22 07:55] #14 closed, assigned to mlfunston

[2020-03-22 08:22] mlfunston commented on #22
@karmarcharger - I have published a new version 1.0.8 to NPM with a possible fix for this. It may need some extra work though. Can you see if the unit is discovered now with the updated version?
There may be some extra headers needed for this new version. Also if you have added it to the cloud service, you may need to reset the unit.

[2020-03-22 14:06] wenshyan opened #23 "Broadlink RM4 Mini Compatibility <Help Needed>"
Hello,

Would this node be compatible to the new RM4 Mini? The link to the hardware as follows:

http://www.ibroadlink.com/products/ir-control

Thank you.

[2020-03-23 04:16] karmarcharger commented on #22
![image](https://user-images.githubusercontent.com/10364143/77280585-b35e8d80-6cff-11ea-863d-723043ebc9b0.png)
Yes the unit is known now, however when I use the example template to learn signals it returns timeout despite me spamming the RC button on the device.

Also the temperature function in the RM returns timeout as shown above.
Below are the settings I have for the RM learn nodes and RM Temp

[2020-03-24 20:21] michalwu opened #24 "hassio rmdevice node configuration"
There is no info on how to configure catalog path. The only suggestion is windows path which is not helpful.
https://flows.nodered.org/node/node-red-contrib-broadlink-control gives me this:
'Fill in the MAC address of the device, IP address and the full path to the SharedData folder in the Catalog field and click Add'

Does this mean 'SharedData' name is expected somewhere down the path?

mike

[2020-03-25 00:45] luxarts opened #25 "Broadlink Timeout Received"
Hello!

I have an RM3 Mini (firmware: v44057) connected to my local network. When I use the Discover node I get this:
[code]
I imported the "learn and send data" example and configured the device parameter with the MAC and IP address received. When I run the `learn` flow it send the message: `Broadlink Timeout Received - Closing Device Connection` after a few seconds. Doesn't matter if I send the

[2020-03-25 16:44] deadly667 commented on #25
I have the same problem. I think that it is because RM mini 3 version 5f36 needs different header.
Maybe something like this (source python-broadlink https://github.com/home-assistant/core/issues/30215):

[code]

5f36 uses the same header like rm4

[2020-03-25 16:56] alekob commented on #20
Same problem here, last message after ~ 30 seconds: "Broadlink Timeout Received - Closing Device Connection"
Using RedMatic 5.5.2, node-red-contrib-broadlink-control 1.0.8

[2020-03-25 20:27] luxarts commented on #25
I did some research the last night and found the same thing. This type ID (`5f36`) is also known as red beans, which are the newer version.

[Here](github.com/mjg59/python-broadlink/pull/317/files) you can see the diff when this new type ID was fixed.
[Here](https://github.com/mjg59/python-broadlink/blob/26e507abd74c83c50edb71de580f187f5e65c519/broadlink/__init__.py#L581-L583) is the header that @

[2020-03-26 10:03] mlfunston commented on #24
When you extract the SharedData folder from your phone, you need to put it somewhere that node red can access it. You need the full path to it in that field.
So on a raspberry pi, that might be /home/pi/SharedData if that is where you put the folder and files.

[2020-03-26 10:05] mlfunston commented on #25
Thanks, that helps. I will look into it and do an update and you can test. I don't have any of the newer units to test against but had heard there were some new headers possibly needed.

[2020-03-26 10:11] mlfunston commented on #23
I have added in the newer device types, however there is a bugfix for the header that needs to be applied first in order to get them to work. I'll add this soon and release an update.

[2020-03-26 10:12] mlfunston commented on #22
Looks like the new headers I mentioned will be required and I'll add them and release an update soon.

[2020-03-26 11:00] michalwu commented on #24
Thank you for explanation. So I assume SharedData name is expected.

[2020-03-26 11:03] deadly667 commented on #25
I already started with adding headers. I have this new 5f36 so I can also test it. I cannot tell when it will be done because Im still working from home. Or maybe @mlfunston if you want I can help with testing if you have more time then me.

[2020-03-26 11:08] mlfunston commented on #25
@deadly667 - If you have started something, send it through and I can probably finish it off in the next couple of days if you don't have time.

[2020-03-26 11:21] mlfunston commented on #24
Yes, if you have not renamed it.

[2020-03-26 11:21] #24 closed, assigned to nobody

[2020-03-26 15:35] luxarts commented on #25
I will test it, so don't worry.

Thanks both!

[2020-03-26 20:44] deadly667 commented on #25
@mlfunston
https://github.com/deadly667/node-red-contrib-broadlink-control

Do you want maybe PR?

Im still having some problems with saving RM node. Im maybe missing some config. I dont have experience in node-red development neither Im JS dev. So please if you thing that something is wrong change it. :)

And yes, I will also test it if you need help.

[2020-03-26 21:59] luxarts commented on #25
@deadly667 Create a PR in your fork pointing to this repo.

Also, the changes in the payload bytes 0x24 and 0x25 should be conditioned by device type, otherwise, the older devices won't work.

[code]

[2020-03-27 07:00] deadly667 commented on #25
Created.
 https://github.com/mlfunston/node-red-contrib-broadlink-control/pull/26

I also answer in PR and we can continue there.

[2020-04-01 21:14] hpascual commented on #20
Same here.
I used to use Homebridge and I got the RF Codes in the following format: "b2000302360a0c150c140c140c15160a170a160a170a0b150c140c14170a17090c15160a160b0c14160a0c150c14170a0c140c150b1517090c150c140c150b150c140c150c140c14170a170a0b150c1417090c150c141604a150360a0c140c150c140c15160a160a170a160a0c150c140c14170a160a0c15160a160a0c15160a0c140c1517090c150c140c14170a0c140c150c140c140d140c150c140c1

[2020-04-03 12:33] mlfunston commented on #25
Thanks for your help @deadly667 - Have published the update as v2.0.0 due to the breaking change after upgrading. Need to manually add the device type to the older nodes after upgrade, but it all works ok with the default value.

[2020-04-03 12:33] #25 closed, assigned to nobody

[2020-04-03 12:34] mlfunston commented on #23
New version published that supports the new RM4 units. Try upgrading to that one.

[2020-04-03 12:34] #23 closed, assigned to nobody

[2020-04-03 12:35] mlfunston commented on #22
Have published a new version, please try that one out as it provides updates to the newer RM types.

[2020-04-03 12:35] #22 closed, assigned to mlfunston

[2020-04-03 12:42] mlfunston commented on #20
@Andrew49 , @alekob - Have published a new version with better support for the new RM nodes. Please try this one.

@hpascual - Check out the "Learn and Send Data" example code in the examples. Your IR codes need to be in the following format. Looks like yours are in hex and you would need to convert the byte pairs into decimal perhaps?
[code]

[2020-04-03 12:42] #20 closed, assigned to mlfunston

[2020-04-03 16:20] alekob commented on #9
Today I've tried v2.0.0 but it's still crashing the server (issue #20).
The discover node returns
[{"mac":"xxxxxxxxxxxxxx","ip":"xx.xx.xx.xx","typeid":"279d","type":"RM2 Pro Plus3"}]
but when I use this typeid, to trigger code learning, the server crashes.
The description say one should copy the data from eControl, but this app doesn't seem to work on my Android 10 device, only IHC..

[2020-04-03 20:27] karmarcharger commented on #22
![image](https://user-images.githubusercontent.com/10364143/78401868-35b64e00-762c-11ea-8b7b-2aa88482b7d3.png)
Tested the new version 2.0.0, still getting timeouts when using the sample learn code
![image](https://user-images.githubusercontent.com/10364143/78401942-5e3e4800-762c-11ea-8c1d-8aa2b2bdde9e.png)
I am using the Type ID obtained from the discover node.
![image](https://user-images.githubu

[2020-04-04 09:37] GeorgeLee888 opened #27 "Broadlink RMPro+ 'learn' RF not working"
When learning, the orange light is on.  Long press the remote control and then single-click, but the orange light just flashes for a while, or the orange light remains on all the time,. and the "Broadlink Timeout Received-Closing Device Connection" is displayed repeatedly in the debug field.

4 Apr 16:38:07 - [info] Node-RED version: v0.20.8
4 Apr 16:38:07 - [info] Node.js  version: v10.16.3
4 Apr

[2020-04-04 09:45] GeorgeLee888 opened #28 "Broadlink RM4 Pro Compatibility"
Would this node be compatible to the new  RM4 Pro.
I can’t control it with the version 2.0.0 .
The link to the hardware as follows:
[http://www.ibroadlink.com/products/ir+rf](http://www.ibroadlink.com/products/ir+rf)

Discover :
typeid: "6026"
type: "RM4 Pro"

Thank you !

[2020-04-04 14:44] alekob commented on #27
The same here: after managing to setup the e-Control app, learning still doesn't work with node-red-contrib-broadlink-control 2.0.0

Apr  4 16:30:12 daemon.info node-red[14895]: Node-RED version: v1.0.4
Apr  4 16:30:12 daemon.info node-red[14895]: Node.js  version: v10.19.0
Apr  4 16:30:12 daemon.info node-red[14895]: Linux 4.19.105 arm LE
Apr  4 16:30:13 daemon.info node-red[14895]: Loading palet

[2020-04-05 03:14] Edu-ST opened #29 "I have got problem to access this repository"
Hi @mlfunston

Could you help me?
I was trying to access this your repository of this SmartApps, to get the set of node-red nodes to manage the Broadlink.
Thank you !!

[2020-04-06 10:08] lemojack opened #30 "RM4 pro and RM4c mini"
Hi,
I have problem with adding these devices to Node-Red. Discover shows me :

RM4 Pro
Discover:
typeid: "6026"
type "RM4 Pro"

RM4C mini
Discover:
typeid: "62be"
type "RM4c"

I use example learn/send data for learning IR codes. In both cases when I try to learn IR codes I received debug message :
"Broadlink Timeout Received - Closing Device Connection"

RM4 Pro node config :
![rmpro1](https://use

[2020-04-08 00:58] Maximus1 opened #31 "v2.0.0 new field in the device configuration"
v2.0.0 (latest)
Note - This version introduces a new field in the device configuration which will require a manual change to each device configuration.

what does this mean?
I have a RM3 mini. What do i have to insert?

[2020-04-08 03:15] tibehrius opened #32 "Is there a possibility to implement base64 IR / RF codes?"
Many people already have automations with scripts in the Home Assistant with code compiled in base64. Is it possible to insert this function in the nodes of this addon?

Tks

[2020-04-08 12:31] mlfunston commented on #32
Possibly, do you have some sample codes or scripts for testing? I'll have a look and see if I can work it out.

[2020-04-08 12:33] mlfunston commented on #31
If you have one of the older devices that was working before, you just need to insert the default value in the new field in the config.

[2020-04-08 12:36] mlfunston commented on #30
Did you add the Catalog file (SharedData) from the mobile app?

[2020-04-08 13:38] Maximus1 commented on #31
what is the default value?
it is empty and everything works. only node red is telling me the node is missconfugured. would be nice to have it without that notice.

[2020-04-08 21:14] lemojack commented on #30
In e-control app the RM4 pro appears to me as unknown device and I can't use it. I can use both device RM4 pro and RM4C mini in Broadlink- Universal Remote app.

This unknown device in e-control app generate some dir in path _/broadlink/newremote/SharedData/_
According to the guide I just shared the data from e-control through WLAN and copy the whole dir _SharedData_
I'm using Node-RED as add-on t

[2020-04-08 21:25] thermseekr commented on #25
Hello all,

I was very happy to have found these nodes, so thanks a lot to the developer and to everyone else helping with the development.

I have three RM Mini 3 units, the older one is firmware v57 and the two newer are firmware v44057. They all get discovered as type 2737:

[code]

When I run the Learn and Send learned code flows from the examples I also get the `Broadlink Timeout Received - C

[2020-04-09 02:25] karmarcharger commented on #30
Facing the same issue here, using the iphone version of the app

i checked in the e-control app there is additional files, but sadly as mentioned above it doesnt work for RM4 Pro. Below is the files in the econtrol app https://apps.apple.com/sg/app/broadlink-e-control/id793152994
![image](https://user-images.githubusercontent.com/10364143/78852998-66452000-7a50-11ea-8b5a-dea9b2f81ca5.png)
Inside C

[2020-04-09 10:05] mlfunston commented on #29
Sorry, what is the SmartApps repository you are referring to?

[2020-04-09 10:07] mlfunston commented on #31
The default value was in there as 272a. You just need to type that in or use the type from the discover.

[2020-04-09 10:13] mlfunston commented on #30
Ok - the newer versions don't work with the older app. There is a development task to use the DB from the newer IHC app, but I've not had time to work on that yet.

In the meantime, you could try the BroadlinkDB folder in this repository as your SharedData folder. The 4 files in it are the ones that are needed from it. You just need to update the details in the files.

[2020-04-09 10:38] mlfunston commented on #28
The new v2.0 should work with that version. If it's not working right now then we may need to add that typeid to the newer header functions. I'll do a new release over the weekend and change that typeid to the new format.

[2020-04-09 14:58] lemojack commented on #30
Should I update all parameter in the jsonDevice? Because when I change mac, type, password and publicKey to this one which I have from e-control app it's still not working.

[2020-04-09 17:24] thermseekr opened #33 "Broadlink Timeout Received"
Hi there,

I had posted the text below in issue #25 but as it is closed I'm not sure if it gets seen. So I'm opening a new issue with the same title.

Thanks,
Tales

======================

Hello all,

I was very happy to have found these nodes, so thanks a lot to the developer and to everyone else helping with the development.

I have three RM Mini 3 units, the older one is firmware v57 and the t

[2020-04-09 18:07] Edu-ST commented on #29
Hi,

This one:  mlfunston/node-red-contrib-broadlink-control

I would like to do the integration of Broadlink (RM4 mini), and I find this integration to use on Groovy there, is it right?

The process is add the repository on GitHub Repository Integration, and  to do de Update from Repository, ok?

Tks

[2020-04-12 18:31] realjax commented on #33
I have an RM3 Mini (firmware: v44057) connected to my local network. When I use the Discover node I get this:
{
  "mac": "24dfa77a4ff9",
  "ip": "192.168.0.101",
  "typeid": "5f36",
  "type": "RM Mini 3 newer",
}

I am running version 2.0 but started receiving  'Broadlink Timeout Received' errors after initially being able to learn and send.  Restarting the RM mini 3 does not help.

[2020-04-13 06:15] baldfox commented on #33
I too just started to receive this error? Anyone have a fix or a work around? It's a shame, for 12months, the RM3 has been rock solid :(

[2020-04-13 08:46] realjax commented on #33
Just to elaborate.. Even a reset of the mini does not fix this.

[2020-04-13 09:23] baldfox commented on #33
For what it's worth, I managed to find a work around in node-red. At least the nodes are still working, even if the home-assistant component has fallen over for now. https://www.thesmarthomebook.com/2020/04/13/broadlink-firmware-update-takes-down-home-assistant-component-see-my-node-red-workaround/

[2020-04-13 09:38] realjax commented on #33
Thanks. But it is the Node Red component I'm having the problem occur with.☹️ So  I'm afraid your workaround will start failing at some point as well.

[2020-04-13 12:41] baldfox commented on #33
Ah ok. On my setup i've updated to the latest version of node-red-contrib-broadlink-control (2.0), for type, i just put 2737 and left catalogue blank (it's running as an add-on on hassio).

[2020-04-13 12:53] realjax commented on #33
Type 2737?  Then you're not using an 'Rm mini 3 newer' ?

[2020-04-13 13:01] Spanishu commented on #33
Is there a way to put older firmware? I think it is related to the type Id 5f36....

[2020-04-13 13:18] realjax opened #34 "RMdevice node, catalog field should not be required."
When leaving the catalog field empty in the RMdevice node the whole config is marked red. Seems the field is required.
The RM node also functions without a catalog so maybe this field should not be set to required.

[2020-04-13 13:25] realjax commented on #33
I tried type 2737 but it made no difference. I also uninstalled and reinstalled the nodes in Node Red but also to no avail.

Further info: According to the broadlink app the firmware of my RM Mini 3 is  **v44057**

[2020-04-13 14:02] baldfox commented on #33
I just put in 2737 because it's the type that the node tells me when i use the "discover ID..." node. I don't know what firmware i'm on. I've not used the app since i got it added to the wifi. Quite frankly the broadlink app and the ihc app or whatever wasn't great. I don't want to open them again in case they bork my install! I've had bad experiences with tuya and their smart life app.

[2020-04-13 14:19] realjax commented on #33
You might have a point there. Everything was running fine here and all of a sudden I am only getting timeouts. Might very well be caused by a forced firmware update of the app.

[2020-04-13 18:20] baldfox commented on #33
I've switched off auto update on the two apps (broadlink and eIHC) on my android device, and am even contemplating blocking the RM mini from reaching out to the internet.

[2020-04-15 09:10] Jacopos94 opened #35 "compatibility with econtrol app rm4 pro"
hi, i am a bit of a newby on nodered and on programming in general so i would like to ask for a bit of help since i got a broadlink rm4 pro ( this model https://www.ibroadlink.com/products/ir+rf) and it is not working with the econtrol app ( i managed to connect it to the app but is shown as some chinese characters and it says not recognized ) so i tried using the discover node but couldnt get it

[2020-04-19 09:34] mlfunston commented on #34
Ok - Sounds good, will change it in the next release

[2020-04-19 10:15] mlfunston commented on #33
My RM3 3 Mini with firmware version 44057 works fine with v2.0.0 of this node. I can learn and send commands.
I have the config node configured with: the MAC, IP Address, device type as 272a, and the catalog file location from the eControl app. It also works if I put in the device type as 2737 as reported from the discover node.
I also have some version 50 firmware devices and these are also fine.

[2020-04-19 10:18] mlfunston commented on #33
BTW - The `Broadlink Timeout Received - Closing Device Connection` message is actually normal. I'll update the message to log instead of warn.
This was added to stop the node from continually opening new connections and never closing them, so there is a timeout after 30 seconds to close the connection. We just had a message there to notify it. So this is fine.

[2020-04-19 10:20] mlfunston commented on #31
Will change the default value behaviour here to add the default value and set it as a non required field.

[2020-04-19 10:20] #31 closed, assigned to mlfunston

[2020-04-19 10:26] mlfunston commented on #30
I have added the 6026 device type to the RM4 configuration as it was missing. This will be updated in the next release v2.0.1.

[2020-04-19 10:29] mlfunston commented on #29
Yes, I think that would be correct. I'm not familiar with Groovy, so I couldn't really provide any assistance on that side sorry.

[2020-04-19 10:31] mlfunston commented on #28
Have added the 6026 device type to the RM4 types configuration in v2.0.1. So it should work once I deploy that one and you update. Will deploy today.

[2020-04-19 10:35] mlfunston commented on #30
IHC App support is covered in issue #9 so will address it on that.

[2020-04-19 11:09] thermseekr commented on #33
Hello @mlfunston thanks for the replies. My RM3 Minis work well either with type 2737 as discovered by the Discover node or with type 272a as you use on yours. My only issue was with the timeout message, which I thought was an error. Now I know why they're there it's Ok.

I run Node-RED as an add-on to Home Assistant. Tha last update to the broadlink component on V0.108.6 solved the problem of RM3

[2020-04-19 11:09] #33 closed, assigned to nobody

[2020-04-19 11:26] S474N opened #36 "ENHANCEMENT: Thermostat with Broadlink protocol support"
There are many heating thermostats  with broadlink protocol, for example:
https://hackaday.io/project/162466-beok-bot-313w-thermostat-hack

Here is Broalink protocol in Python:
https://github.com/mjg59/python-broadlink/blob/master/broadlink/__init__.py

https://github.com/ralphm2004/broadlink-thermostat

https://community.home-assistant.io/t/floor-heat-thermostat/29908/13

Is it possible, to add t

[2020-04-19 11:29] realjax opened #37 "Broadlink timeout received still."
Very well, new issue then.

I have an RM Mini 3 (firmware: v44057) connected to my local network. When I use the Discover node I get this:
{
"mac": "24dfa77a4ff9",
"ip": "192.168.0.101",
"typeid": "5f36",
"type": "RM Mini 3 newer",
}

I am running version 2.0 but started receiving 'Broadlink Timeout Received' errors after initially being able to learn and send. Restarting the RM mini 3 does not he

[2020-04-19 11:33] realjax commented on #37
note:
the type discovered was 5f36.
I tried both type 2737 and 2737 but to no avail.   The RM mini doesn't respond at all through the node but works fine when I use the app.

I tried resetting the RM to factory defaults many times. I reinstalled the Android app many times, I even tried on a different Node Red server running on a different OS.. but alas.  Doesn't work anymore with this node. :(

[2020-04-19 13:05] thermseekr commented on #37
Hello @realjax sorry for closing my issue on you.

If I understood well, as mentioned [here](https://github.com/mlfunston/node-red-contrib-broadlink-control/issues/33#issuecomment-616095400) by @mlfunston the timeout message is probably unrelated to the problem your facing.

[2020-04-19 13:32] realjax commented on #37
Yes, don't worry about it. My problem is indeed of a different kind. Just ends in the same error message 🙂

[2020-04-19 14:02] realjax commented on #37
Ok, I have managed to 'reset'  my rm mini 3 using the broadlink-python API. By executing the setup() method from that api, I could use it again but now the broadlink app does no longer work for me. There is definitely something funky going on.

See here for more info: https://github.com/mjg59/python-broadlink/issues/307

[2020-04-19 14:53] mlfunston commented on #34
Updated in v2.0.1 and published

[2020-04-19 14:53] #34 closed, assigned to mlfunston

[2020-04-19 14:54] mlfunston commented on #30
6026 device type issue fixed in v2.0.1 and published

[2020-04-19 14:54] #30 closed, assigned to nobody

[2020-04-19 14:54] mlfunston commented on #28
Updated in v2.0.1 and published

[2020-04-19 14:54] #28 closed, assigned to mlfunston

[2020-04-19 14:57] mlfunston commented on #27
I have pushed a new version 2.0.1 with improved messaging. Can you see if this works for you?
The timeout isn't actually a timeout reading the data, it's a normal close function which had the wrong level assigned.
I don't have an RM Pro / RF unit to test with.
Did the older version of the library work at all, or was it never working in the past with the RF learning?

[2020-04-19 14:59] mlfunston commented on #35
Ok - Discovery should work if the device has been configured in either the Broadlink E-Control or IHC app and you can see it in there. Once it is setup it should be discoverable on the network.

[2020-04-19 15:02] mlfunston commented on #36
Ok - Will take a look at it and see. I won't be able to test it though, so you will need to support with that. It seems much the same as some of the other Broadlink devices and there are some configs in the python library I might be able to convert.

[2020-04-19 15:59] Edu-ST commented on #29
How can I do to  use your integration?  What is the proccess?  Could you explain?

[2020-04-19 17:11] S474N commented on #36
I will ready to test it on my own ;)

[2020-04-19 21:22] lemojack opened #38 "RM4 Pro learn still not working"
Hi,

Previous request Was in issue https://github.com/mlfunston/node-red-contrib-broadlink-control/issues/30#issue-594981121. Currently situation looks much better

![image](https://user-images.githubusercontent.com/57143614/79700015-3806e200-8293-11ea-98ec-920c062906b6.png)

After pressing inject node RM4 Pro LED even lights up in red, but I still not receive any code in debug node after pressing

[2020-04-19 21:39] #38 closed, assigned to nobody

[2020-04-20 02:20] karmarcharger commented on #27
@mlfunston its still showing version 2.0.0
![image](https://user-images.githubusercontent.com/10364143/79707887-80a0b880-82f0-11ea-9b24-c3fd722d8b7e.png)
![image](https://user-images.githubusercontent.com/10364143/79707905-8a2a2080-82f0-11ea-869f-d0a6a22e36f6.png)

[2020-04-22 09:00] mlfunston commented on #27
I have requested a refresh but nothing has updated yet in flows.nodered.org. The updated nodes have been published 3 days ago in Github and NPM.

[2020-04-22 11:43] mlfunston commented on #27
Looks like it has updated now

[2020-04-24 23:52] dober2 opened #39 "Can not get it to work"
Hello,

i successfully discovered my device with the discovery node and put the data into the configuration of the RM node. Then i chose "Learn" as Action, but there is no reaction after an injection. The only thing that appears after some time in the node-red console log is "[RM:RM Mini 3 newer] Broadlink: Closing Device Connection". I also tried to send some dummy remote command data to see if t

[2020-04-26 02:07] mlfunston commented on #39
Seems there is a known issue with the RM3 Mini Newer version (device type 5f36) connecting itself to the cloud which results in it not being able to authenticate locally any more.

Please try the troubleshooting here to see if it fixes the issue.
https://github.com/mlfunston/node-red-contrib-broadlink-control#new-broadlink-app-and-cloud-mode---troubleshooting

[2020-04-26 02:08] mlfunston commented on #37
Seems there is a known issue with the RM3 Mini Newer version (device type 5f36) connecting itself to the cloud which results in it not being able to authenticate locally any more.

Please try the troubleshooting here to see if it fixes the issue.
https://github.com/mlfunston/node-red-contrib-broadlink-control#new-broadlink-app-and-cloud-mode---troubleshooting

[2020-04-26 02:09] mlfunston commented on #35
If you have set it up and still having issues, try this also.

Please try the troubleshooting here to see if it fixes the issue.
https://github.com/mlfunston/node-red-contrib-broadlink-control#new-broadlink-app-and-cloud-mode---troubleshooting

[2020-04-26 02:09] #35 closed, assigned to nobody

[2020-04-26 02:09] mlfunston commented on #29
It needs to be used in Node-RED.

[2020-04-26 02:09] #29 closed, assigned to nobody

[2020-04-26 14:27] deadly667 commented on #39
@dober2 Usually problem it is that you already set up device via Mobile app and choose some Remote control code setup. When you select some target device through mobile app, device enters into mode where he cannot receive nor learn commands via wifi anymore.  To get it working again, you need to delete any settings you made via Mobile app, reset RM Mini 3, clear cache and data from Mobile Broadlin

[2020-05-01 11:27] BSD31 opened #40 "node-red-contrib-broadlink-control with HASSIO"
Hello.
I am very interested in your work 'node-red-contrib-broadlink-control' but I can't get them to work properly.
My Node-Red is in a Docker container with Home Assistant.
I use the 'RM' node for my RM3-Mini type 272a but I cannot fill in the 'Catalog' field of 'Edit rmdevice node'.
So the learned codes do not register ...
My problem comes from the connection between Home assistant and Node-Red

[2020-05-01 13:49] mlfunston commented on #32
@tibehrius - Have added the Base64 decode capability. So if you can download the repository and test before I push to NPM that would be good.
You can send in the data in the `msg.payload.data` property into the RM node.

[2020-05-01 13:57] mlfunston commented on #40
If you are mapping a data volume in Docker, then you could store the catalog files in that volume or folder location, eg map the config folder in your container to an external location, dump the SharedData folder in that location and then point to it as /config/SharedData

What data are you trying to send between the Broadlink nodes and Home Assistant?

Thanks.

[2020-05-01 13:59] mlfunston commented on #27
@karmarcharger - Did the new version work?

[2020-05-01 14:33] elhaqksa commented on #27
No, It's not working on RM4 Pro. could you please fix it? it shows

but nothing happened and there is no pairing light form the device.

[2020-05-01 17:02] BSD31 commented on #40
I would like my Samsung air conditioning to communicate with Home Assistant via Node-Red.
I created a folder '/ SharedData /' in the '/ config /' directory of Home Assistant and I indicated '/ config / SharedData' in the 'catalog' field of the node.
The white LED lights up well to learn a new code.
When the code is received, the white LED light is down but no file is saved in the indicated directo

[2020-05-01 17:32] BSD31 commented on #40
Perhaps important information:
My Hassio is installed in a Virtual Machine Manager on Synology.

[2020-05-02 02:43] mreyad commented on #32
Tested with multiple Base64 codes and it works, but now the array code from e-control is not working.
This is still fine, since most of people who integrate broadlink with home automation systems, convert all codes from "e-control" format to either HEX or base64, but sinceit was already there, it is good to keep it compatible with both "base64 and e-control format"

Thank you very much and appreci

[2020-05-02 22:52] dober2 commented on #39
Thank you for your help guys.
Since i set up many scenes and devices i rather stay with my current setup. What i do now to control the RM with node-red is triggering alexa routines which contain RM functions imported with the broadlink skill.

[2020-05-03 04:01] #39 closed, assigned to nobody

[2020-05-03 04:08] mlfunston commented on #32
@mreyad - It works fine for me as an array. Below is the sample I used which works when fed into the RM node. It also works when using the data from the e-control json files from the catalog.
[code]

[2020-05-03 04:33] mlfunston opened #41 "ENHANCEMENT: Add feature to import IR codes from other systems / sites"
Functionality to import IR codes from other online tools or systems. Import to a local file or DB such as in issue #9.

[2020-05-03 04:35] mlfunston opened #42 "ENHANCEMENT: Add function to determine if the device is cloud connected and needs to be reset"
Some devices are being locked to the Broadlink cloud service and when this happens local communication via the node will fail. Need to include detection of this in the discover node.

EG: https://github.com/mjg59/python-broadlink/blob/f3d0427133072f919768d5af81df7ba93bffcf07/broadlink/__init__.py#L140

[2020-05-03 04:36] mlfunston commented on #37
Consolidated to enhancement issue #42

[2020-05-03 04:36] #37 closed, assigned to nobody

[2020-05-03 04:37] #18 closed, assigned to mlfunston

[2020-05-03 04:41] mlfunston commented on #40
@BSD31 - Did you use the example code to "add code to db"?

Also, can you read the data from the catalog file in the RM node - IE do the remote and button show up when selecting the send function in the action drop down?

[2020-05-03 04:49] mlfunston commented on #27
Ok, I don't have an RM4 Pro unit to test with so that will be a little difficult right now.

[2020-05-03 12:45] PaoloTK opened #43 "ENHANCEMENT: Read IR data from compatible devices"
From the Broadlink app once I add my Samsung AC unit I can see the room temperature and other similar information. Would it be possible to add a node to read this kind of information?

[2020-05-03 15:13] civictyp3r opened #45 "New type for RM4 Pro"
I tried to use the discover node and the debug messaged showed up with:
typeid: "61a2"
type: "Broadlink: Unconfigured Device Type: Log an issue with the device details and typeid returned as this may be a new device type"

Learn/Send command doesn't do anything when i tried to use it.

[2020-05-03 22:50] thermseekr commented on #43
That made me curious. Can you share the model of your AC unit? Are you sure room temp in not coming from the Broadlink? Afaik RM Pros include a temperature sensor, maybe also humidity, not sure.

[2020-05-03 23:04] PaoloTK commented on #43
Thank you for the quick reply.
It's a Samsung AR09NXFPEWQN mini-split. I'm positive the temperature comes from the AC unit because I have an RM4 Mini without the additional USB sensor and I can see the temperature only in the AC remote page on the app. I can also see the temperature on the physical remote, so the unit must communicate it over IR.

[2020-05-04 10:57] mlfunston commented on #43
@PaoloTK - If you are seeing a single temperature in the Broadlink App, this is the temperature setpoint, not the temperature in the room.
![Broadlink App Image](https://user-images.githubusercontent.com/27909227/80959180-da4ccb00-8e38-11ea-9e3e-65f7fb5ee8f6.jpg)

The Broadlink RM units can only send, or learn. They do not have a bi-directional communications capability unfortunately. I had tried

[2020-05-04 12:31] thermseekr commented on #43
Mark, sorry to mess the topic, but I think this side note can be
interesting.

About open connections: I have RM3 Minis with different firmware versions.
On the unit with FW v57 (which I suppose is an older unit) I notice a
considerable lag to start the first transmission. Further transmissions
start much faster. For example if I need to change channel on a cable
receiver, three digits, the first

[2020-05-04 12:50] mlfunston commented on #43
@thermseekr - Not sure what the differences are in the firmware but I have both the 57 and 44057 firmware on different units. I don't notice any differences between them in my setup, but I'm only sending commands to A/C units. It could be related to processing on the device and the new firmware fixes that.

I do notice that sending a code or request does take time sometimes, but this is more relat

[2020-05-04 16:02] alekob commented on #27
Discover node for v2.1.1 returns:
{"mac":"a.b.c.d","ip":"1.2.3.4","typeid":"279d","type":"RM2 Pro Plus3","name":"智能遥控","cloud":false,"msgdata":[0,0,0,0,0,0,0,0,0,0,0,0,120,0,55,17,20,1,4,4,0,0,0,0,192,168,178,40,142,224,0,0,246,211,0,0,0,0,7,0,0,0,0,0,0,0,0,0,189,223,66,126,157,39,33,178,168,192,120,15,119,253,102,108,230,153,186,232,131,189,233,129,165,230,142,167,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,

[2020-05-04 18:16] karmarcharger commented on #27
@mlfunston  Not working for my RM4pro, same response as @elhaqksa
It finds the device but the signal learning does not work.

[2020-05-05 10:23] BSD31 commented on #40
Hi
Here is my configuration :

![image](https://user-images.githubusercontent.com/11723095/81056281-91455700-8eca-11ea-8dd7-92cfb2e9f653.png)
![image](https://user-images.githubusercontent.com/11723095/81056342-ac17cb80-8eca-11ea-91b2-92a061a460f5.png)
![image](https://user-images.githubusercontent.com/11723095/81056506-ef723a00-8eca-11ea-8873-5de39f313172.png)
![image](https://user-images.githubu

[2020-05-05 10:23] #40 closed, assigned to nobody

[2020-05-05 10:28] mlfunston commented on #45
Updated in v2.1.1 to include the 61a2 model.

[2020-05-05 10:28] #45 closed, assigned to nobody

[2020-05-05 10:29] mlfunston commented on #42
Functionality added in v2.1.1

[2020-05-05 10:29] #42 closed, assigned to nobody

[2020-05-05 10:36] BSD31 commented on #40
The Broadlink RM3
- Goes well in learning mode.
- Receive the signal
- But where does he save this code?

[2020-05-05 10:38] mlfunston commented on #40
Have you followed the instructions in the readme to extract your econtrol app SharedData folder and put that in the \config\broadlink_data folder or copied in the example db from the node?

[2020-05-05 10:39] BSD31 commented on #40
![image](https://user-images.githubusercontent.com/11723095/81057684-319c7b00-8ecd-11ea-9ab2-04aa74cacb86.png)

for the sending part, the drop-down lists 'Remote' and 'Button' are empty

[2020-05-05 10:45] mlfunston commented on #27
@alekob @karmarcharger - Does it work ok for IR code learning? I just want to isolate it to a problem with RF code learning only.

[2020-05-05 12:13] karmarcharger commented on #27
@mlfunston  IR and RF does not work, might be issue with sharedFiles configuration as its using different app and manually adjusting the values by hand probably resulted in many errors as the json has many other fields to be filled other than the IP MAC and type.

[2020-05-05 14:08] BSD31 commented on #40
I do not want to use the e-control application and indicate my wifi passwords on the Chinese site!
Can you use your node without registering on e-control?
I'm sorry but my English is very light and I use Google translation to write here ...
Maybe that's why I don't understand everything ...

[2020-05-05 14:38] mlfunston commented on #27
It's not related to the catalog file. When you do a learn it does not use it. It just sends the data out on the message payload from the RM node. So can you test an IR learn and see if you can get any data.

[2020-05-05 14:42] mlfunston commented on #40
If you don't want to extract the econtrol files, you at least need to have the JSON data files from the BroadlinkDB folder from this repository. Otherwise, where will it try to put the data in your folder when it's empty? No files in the folder = Not working.

This is clearly mentioned here: https://github.com/mlfunston/node-red-contrib-broadlink-control#installing-and-setting-up

[2020-05-05 15:07] alekob commented on #27
IR learning works, but RF doesn't  (checked multiple times)

[2020-05-06 04:14] GeorgeLee888 commented on #27
Discover node for v2.1.1 returns:
[{"mac":"34ea34444445","ip":"192.168.8.29","typeid":"279d","type":"RM2 Pro Plus3","name":"智能遥控\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u

[2020-05-06 05:51] GeorgeLee888 commented on #43
Sorry for leaving the topic

The RM Pro + ,RM mini series is about to be discontinued, and the successor is the RM4 series

RM4 has a power cord, which contains a temperature and humidity sensor(is optional).
![1588743826880](https://user-images.githubusercontent.com/28617729/81141828-5ca3cf00-8fa0-11ea-97e7-cbfe2a261717.jpg)
![1588744101784](https://user-images.githubusercontent.com/28617729/8114

[2020-05-06 11:00] mlfunston commented on #27
Ok thanks so I can focus the effort on that section of the code to see if we can work it out. Has anyone got an earlier RM2Pro to test if RF learn is working on that with the current code?

[2020-05-06 11:06] mlfunston opened #46 "ENHANCEMENT: Add upgraded temperature and humidity measurement for RM4 Pro"
The RM Pro + ,RM mini series is about to be discontinued, and the successor is the RM4 series

RM4 has a power cord, which contains a temperature and humidity sensor(is optional).
![1588743826880](https://user-images.githubusercontent.com/28617729/81141828-5ca3cf00-8fa0-11ea-97e7-cbfe2a261717.jpg)
![1588744101784](https://user-images.githubusercontent.com/28617729/81141839-63cadd00-8fa0-11ea-8303-

[2020-05-06 11:07] mlfunston commented on #43
@GeorgeLee888 - Have added to a separate issue to build out the temp & humidity monitoring.

[2020-05-06 11:10] mlfunston commented on #43
@PaoloTK @thermseekr - Are we ok to close this issue based on the above items:
https://github.com/mlfunston/node-red-contrib-broadlink-control/issues/43#issuecomment-623396820
https://github.com/mlfunston/node-red-contrib-broadlink-control/issues/43#issuecomment-623444180

[2020-05-06 11:11] #32 closed, assigned to nobody

[2020-05-06 11:14] mlfunston commented on #40
@BSD31 - Did you try with the sample broadlinkDB files and did that improve things?

[2020-05-06 11:26] GeorgeLee888 commented on #27
Discover node for v2.1.1 returns:
[{"mac":"34ea34c73cdb","ip":"192.168.8.31","typeid":"272a","type":"RM2 Pro Plus","name":"智能遥控\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0

[2020-05-06 13:11] mlfunston commented on #27
@GeorgeLee888 @karmarcharger @alekob @elhaqksa - I have created a new branch with a possible fix and increased debug logging here: https://github.com/mlfunston/node-red-contrib-broadlink-control/tree/RF-Scan-Fix

If someone can download it and link it in and test it and see if it fixes the issue that would be great. There is increased logging going into the node red log, so you can see that when r

[2020-05-06 15:05] PaoloTK commented on #43
You're right, I don't know why I didn't think of that, my bad.

Yes!

[2020-05-06 15:40] GeorgeLee888 commented on #27
Broadlink: RF Scan - Sending RF Sweep Command.
6 May 23:39:03 - [warn] [RM:RM3p] Broadlink: RF Scan - Please hold down a button on the RF Remote until scan finishes.
Broadlink: RF Scan - Checking if RF Signal Detected.
Broadlink: Data Received - Type 26 Converting and Sending.
payload <Buffer 1a 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00>
data <Buffer 00>
Broadlink: RF Scan - Checking if RF Sign

[2020-05-06 15:44] GeorgeLee888 commented on #27
Broadlink: RF Scan - Sending RF Sweep Command.
6 May 23:43:06 - [warn] [RM:RM3p] Broadlink: RF Scan - Please hold down a button on the RF Remote until scan finishes.
Broadlink: RF Scan - Checking if RF Signal Detected.
Broadlink: Data Received - Type 26 Converting and Sending.
payload <Buffer 1a 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00>
data <Buffer 00>
Broadlink: RF Scan - Checking if RF Sign

[2020-05-06 15:46] GeorgeLee888 commented on #27
Broadlink: RF Scan - Sending RF Sweep Command.
6 May 23:45:16 - [warn] [RM:RM3p] Broadlink: RF Scan - Please hold down a button on the RF Remote until scan finishes.
Broadlink: RF Scan - Checking if RF Signal Detected.
Broadlink: Data Received - Type 26 Converting and Sending.
payload <Buffer 1a 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00>
data <Buffer 00>
Broadlink: RF Scan - Checking if RF Sign

[2020-05-06 20:12] luigijava opened #47 "Confirmation for RM4 PRO IR sending is not working"
The learn returns data. But I can't even know if they're right because it says "data sent" but the air conditioner doesn't respond.

[2020-05-06 20:13] luigijava commented on #47
typeid: "6026"
type: "RM4 Pro"

[2020-05-07 03:13] thermseekr commented on #43
Yes!

[2020-05-07 03:14] #43 closed, assigned to nobody

[2020-05-07 03:35] mlfunston commented on #27
Ok so the RF learning works now on the RM2 Pro Plus 3?

The console log seems odd as it seems to be missing the log lines for lines 11&12 in RM.js. Strange.
https://github.com/mlfunston/node-red-contrib-broadlink-control/blob/82a1113b19d21b074cd2ca8ae51ff9f994e041f7/nodes/RM.js#L11

[2020-05-07 08:20] GeorgeLee888 commented on #27
Broadlink: RF Scan - Sending RF Sweep Command.
7 May 16:19:19 - [warn] [RM:RM3p] Broadlink: RF Scan - Please hold down a button on the RF Remote until scan finishes.
Broadlink: Data Received - Determining Type.
Broadlink: BroadlinkData <Buffer 19 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00>
Broadlink: RF Scan - Checking if RF Signal Detected.
Broadlink: Data Received - Determining Type.
Broadlink

[2020-05-07 10:01] GeorgeLee888 commented on #27
Broadlink: RF Scan - Sending RF Sweep Command.
7 May 17:59:02 - [warn] [RM:RM4p] Broadlink: RF Scan - Please hold down a button on the RF Remote until scan finishes.
Broadlink: Data Received - Determining Type.
Broadlink: BroadlinkData <Buffer 19 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00>
Broadlink: RF Scan - Checking if RF Signal Detected.
Broadlink: Data Received - Determining Type.
Broadlink

[2020-05-07 10:25] GeorgeLee888 commented on #27
Learning with RM3, sending with RM4 is good, but the learning code cannot be too short

[2020-05-07 10:34] GeorgeLee888 commented on #27
RF Learning with "RM2 Pro Plus(272a)", sending with RM4 Pro (6026) is good.

RF Learning with "RM2 Pro Plus" Data :
[178,0,202,0,12,24,11,24,11,25,11,24,12,24,23,12,12,24,23,13,11,24,24,12,11,24,24,12,12,23,24,12,12,24,23,0,1,1,159,49,23,12,24,12,24,11,24,12,24,12,11,24,12,24,11,24,12,24,23,12,24,12,23,13,11,24,24,11,12,24,24,12,11,24,12,24,12,23,24,12,24,12,12,23,24,12,23,13,11,24,12,24,11,24,12,

[2020-05-09 15:01] GeorgeLee888 commented on #27
Broadlink: RF Scan - Sending RF Sweep Command.
9 May 22:58:20 - [warn] [RM:RM4p] Broadlink: RF Scan - Please hold down a button on the RF Remote until scan finishes.
Broadlink: Data Received - Determining Type.
Broadlink: BroadlinkData <Buffer 19 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00>
Broadlink: RF Scan - Checking if RF Signal Detected.
Broadlink: Data Received - Determining Type.
Broadlink

[2020-05-09 16:42] GeorgeLee888 commented on #27
Broadlink: RF Scan - Sending RF Sweep Command.
10 May 00:39:03 - [warn] [RM:RM3p] Broadlink: RF Scan - Please hold down a button on the RF Remote until scan finishes.
Broadlink: Data Received - Determining Type.
Broadlink: BroadlinkData <Buffer 19 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00>
Broadlink: RF Scan - Checking if RF Signal Detected.
Broadlink: Data Received - Determining Type.
Broadlin

[2020-05-09 18:06] GeorgeLee888 commented on #47
RM4 Pro IR learn data  ->  RM4 Pro send data = Unstable .
(TV remote control OK , air conditioning no response Or just send out a very short code)
RM4 Pro IR learn data  ->  RM2 Pro Plus3 send data = OK.
RM2 Pro Plus3 IR learn data  ->  RM4 Pro send data  = OK.

[2020-06-17 07:22] quadhammer commented on #27
272a
RM2 Pro Plus

Using version 2.1.1 works to learn both IR and RF for me, thanks!

The only problem I had was using colons is in the MAC address of the rmdevice configuration node gave me an error about not being configured properly on deployment, despite it still working.

Thanks again.

[2020-06-22 09:21] Leon99 commented on #27
Learning doesn't work for me. With RF Sweep enabled, the yellow indicator turns on and then blinks for a moment after I press and hold the button, but tapping the button after that doesn't cause any reaction. Without RF Sweep it just turns on for a while.
ihc app works just fine. broadlink_cli from python-broadlink also works fine (using `--rfscanlearn`)

broadlink-control v. 2.1.1
typeid: "27a9"

[2020-06-26 12:08] saykl opened #48 "Please add Broadlink Bestcon MCB1"
It is working only with app https://play.google.com/store/apps/details?id=cn.com.broadlink.econtrol.international

It is new device

[2020-06-27 16:32] get-command opened #49 "Please add: Broadlink SC1 Smart Switch WiFi APP 2,4"
first of all many thaks for these Nodes...

I have a RM Pro and a S1C alarm system. it works great and very well.

my question:
I have a lot of wifi SC1 relays, unfortunately there are no nodes. Is this planned?

This device can i found over the discover node:
![grafik](https://user-images.githubusercontent.com/67456251/85927109-3f0a2c00-b8a4-11ea-8664-c732f7c4bd46.png)

how can i integrate that?

[2020-06-29 12:40] mlfunston commented on #49
The SC1 devices I believe you can register them as an SP2 device with the SP2 node. Have you tried that one?

If it's a newer one I may need to modify some code to make it work. Let me know.

[2020-06-29 12:43] mlfunston commented on #48
Perhaps try the SP2 node with it and let me know if that works?

[2020-06-29 12:49] mlfunston commented on #47
Odd - Learning should provide the same IR data string from both hardware types. Is that the case?

[2020-06-29 12:59] get-command commented on #49
Hi,
you're right, i can control this with the sp2 node! Perfect, now function!

[2020-06-29 12:59] #49 closed, assigned to mlfunston

[2020-06-29 13:02] mlfunston commented on #49
Ok great - I'll note this in the node and readme also on the next release.

[2020-06-30 13:45] saykl commented on #48
@mlfunston

MAC 34:ea:34:bd:bc:da

Log:

broadlink2.0 | 2020-06-30 16:40:43.313 | info | (16215) debug: send Error on device SP2, SP:0x7547_34:ea:34:bd:bc:da, 34:ea:34:bd:bc:da, 192.168.1.27, Лампа: { here: false, err: 'timed out on send', name: 'SP:0x7547_34:ea:34:bd:bc:da' }
-- | -- | -- | --
broadlink2.0 | 2020-06-30 16:39:43.269 | info | (16215) debug: send Error on device SP2, bathroom, 78:0f

[2020-07-12 09:51] S474N opened #50 "ENHANCEMENT: HEX od Base64 output"
Will be possible to Learn output to HEX or Base64?

[2020-07-14 11:34] mlfunston commented on #50
I think so. Are you looking for the Learn output to be formatted as both hex and Base64 in the same message?

Should be easy enough to implement.

[2020-07-14 14:18] S474N commented on #50
As you wish :) I prefer two variables in one payload :) Thank you!

[2020-08-05 00:12] thermseekr commented on #47
hello

I've been using an RM4 Pro for a few months now. First thing I noticed is that I can't read full codes from my air Samsung air conditioner remote. The reading gets halted, as if it reaches a max time or bit count, then stops reading. Code from the remote is 2x 7 byte bursts.

Also, sending IR codes is kinda unstable. I couldn't yet trace it but for some reason when I reboot Home Assistant i

[2020-08-05 10:53] GeorgeLee888 opened #51 "Does RM4pro not really end after sending?"
My RF data is a remote control for learning motorized curtain RF from RM2PRO.

Sending using RM4PRO(6026) is normal, but the original RF remote control cannot be used.
RM4pro continues to send the RF signal after the LED is turned off(5~15 seconds later), causing the interference to the all 433 RF remote control to be unusable.
The RM4 power supply is removed, and the remote control can be used no

[2020-08-05 13:26] alekob commented on #27
Learning still doesn't work for me, but with "broadlink_cli" (thanks for mentioning @Leon99 ) RF codes can be learned. The detected RF codes can then be used in NR

[2020-08-05 17:31] GeorgeLee888 commented on #51
Send the following information again, it will be better, but RF433 interference is still there

var data = [152,36,0,0,0,0,0,0,0,0,0,0,0,0];
msg.action = 'send';
msg.data = data;
msg.repeat = 5;
msg.payload = msg;
return msg;

[2020-08-09 12:25] vladtsit opened #52 "broadlink control crashes with SP3 devices"
Hi!

I have several SP3 devices that worked properly. After long time I decided to update boradlink-control and as result node-red periodically (2-3 time a day) crashes with following log:
9 Aug 14:47:04 - [red] Uncaught Exception:
9 Aug 14:47:04 - Error: error:0606508A:digital envelope routines:EVP_DecryptFinal_ex:data not multiple of block length
    at Decipheriv.final (internal/crypto/cipher.j

[2020-08-26 02:41] ryan-mcxx opened #53 "New type for RM4 Mini"
I tried to use the discover node and the debug messaged showed up with:
typeid: "648d"
type: "Broadlink: Unconfigured Device Type: Log an issue with the device details and typeid returned as this may be a new device type"

Learn/Send command doesn't do anything when i tried to use it.

[2020-09-05 18:15] S474N opened #54 "SP2 and SP3 msg.payload values?"
Hi, what variables are available for mgs.payloads for Broadlink Outlets SP2 and SP3?

I tried to find them, but I didn't find anything. Thank you.

[2020-09-06 14:01] S474N commented on #54
I'm sorry, it's in help :)

SP2
A node that allows you to manage your Broadlink SP2.

Choose an action, or install through msg.payload.action

Get Status
`msg.payload.action = 'getState';`
Set Status
[code]

[2020-09-06 14:01] #54 closed, assigned to nobody

[2020-09-12 15:31] S474N opened #55 "ENHANCEMENT: SP2 and SP3 GetStatus with NO_RESPONSE state"
Is possible to add "NO_RESPONSE" state to "GetStatus"? If the outlet is offline, there is no information about it.

[2020-10-24 04:59] ronnybugle commented on #53
I've got the same issue when trying to use my RM4 Mini.  I tried the typeid of 5f36 and that allows me to learn, but it doesn't seem to send properly for some commands.  We can only hope there's a fix coming for the 648d type..

[2020-10-25 15:40] samuellazea opened #57 "Nodered crashes on send command for RM"
![Capture4](https://user-images.githubusercontent.com/6168211/97111699-03b02a80-16e9-11eb-80be-d3529e281cc3.JPG)

I try to send a remote command and cause of this entire nodered crashes. Any chance you could catch this error also? Thanks in advance

[2020-10-25 16:00] samuellazea commented on #41
Hi, is there any chance there is a move on this? Many thanks in advance

[2020-10-25 16:01] samuellazea commented on #9
Hi, is there any chance there is a move on this? Many thanks in advance

[2020-10-28 11:41] #51 closed, assigned to nobody

[2020-10-28 12:09] mlfunston commented on #52
Did you manage to fix this?

As far as I can see, this is a problem with the data encrypted in the stream sent from the unit that is the wrong length? Perhaps an issue with one of the units maybe?

[2020-10-28 12:16] mlfunston commented on #57
Found the issue, there was a typo. should have been node.error not node.err.

Will deploy in new version

[2020-10-28 12:20] samuellazea commented on #57
Thanks lots. Standing by then

[2020-10-28 12:32] mlfunston commented on #55
Could be done, but as it's an asynchronous call to the SP2/3 then we need to have some timeout functions to catch it.

The call to the unit is terminated automatically after 3 seconds anyway so the TCP port is cleaned up. So if you don't have an answer within 3 seconds then it's offline.

[2020-10-28 12:35] mlfunston commented on #41
Not yet. Unfortunately have not had much time to work on this recently. Will get back to it soon.

[2020-10-28 12:38] samuellazea commented on #41
Thanks for the info. Will be waiting for it then. Nice work you do by the way

[2020-10-28 13:49] mlfunston commented on #53
Added this device in v2.1.2

[2020-10-28 13:49] #53 closed, assigned to nobody

[2020-10-28 13:51] mlfunston commented on #9
No - have not had time to focus on this one yet. The ability to use base64 encoded data is there though so you could use files from homebridge or other systems.

[2020-10-28 13:52] mlfunston commented on #57
V2.1.2 deployed with this fix in.

[2020-10-28 13:52] #57 closed, assigned to nobody

[2020-10-28 14:14] samuellazea commented on #57
Thanks again

[2020-10-28 19:08] fduchatelet opened #59 "New Type for RM4 Pro - 649b"
Hi,

I tried to use the discover node and the debug messaged showed up with:
typeid: "649b"
type: "Broadlink: Unconfigured Device Type: Log an issue with the device details and typeid returned as this may be a new device type"

Learn/Send command doesn't do anything when i tried to use it.

[2020-10-28 20:33] vladtsit commented on #52
I was not able to manage the problem. Just decided to temporary remove SP3 devices. May be one of 4 devices sporadically send wrong data but it is very difficult to debug because it happens rarely. Could you please just catch and ignore such error? At least it will not stop node-red.

[2020-10-29 16:17] samuellazea opened #60 "Send commands from second broadlink device fails"
I have to broadlink devices home and set up. When I try to send commands from the first one it works without problems but when I try to send commands from the second device it does not work and fails with the next error.

10/29/2020, 6:05:07 PMnode: bucatarie
msg : error
"Error: ENOENT: no such file or directory, open '/mnt//jsonIrCode'"
10/29/2020, 6:05:07 PMnode: bucatarie
msg : error
"SyntaxErr

[2020-11-16 09:35] aamoroso opened #61 "Long press IR button"
Hi,

Sorry if this is the wrong place to ask this.

My aircon units have a single power button on the remote - for turning on and off.  I can turn the aircon on using the BASE64 code I learnt.  However, I cannot turn it off again.  I can actually replicate this manually using the remote control.  To turn the unit off I need to hold the power button down for twice as long as when turning it on.  I

[2020-12-01 19:23] Mr-Groch opened #62 "New type for RM4C mini"
Hi, I have new RM4C mini that isn't supported:

`{"mac":"a043b007f7f5","ip":"192.168.1.132","typeid":"6539","type":"Broadlink: Unconfigured Device Type: Log an issue with the device details and typeid returned as this may be a new device type.","name":"智能遥控\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u000

[2020-12-01 19:38] Mr-Groch commented on #62
It works fine (learning and sending commands), when I set type to 62be (type for older RM4c mini devices) in rmdevice config node

[2020-12-09 11:32] mlfunston commented on #61
Actually, the repeat function had never been set up to do anything as far as I can see from the original code. I will need to look into it and see.

In the meantime, had you tried tying two RM Nodes together and send it twice? Just to see if that works? Or had you tried recording the long press command in case it does something different?

[2020-12-09 11:36] mlfunston commented on #60
Looks like you may have a path error to the catalog file?
"Error: ENOENT: no such file or directory, open '/mnt**//**jsonIrCode'"

[2020-12-09 11:38] samuellazea commented on #60
Yes. That is stated in the log I posted. But how can I fix this?

[2020-12-09 11:48] mlfunston commented on #60
You need to put the correct path to the catalog file location (the jsonIrCode and other json files) in the configuration node of that RM unit.
https://github.com/mlfunston/node-red-contrib-broadlink-control#configuring-node-red-nodes

[2020-12-09 12:32] samuellazea commented on #60
Thanks lots. I will try it and let you know.

[2020-12-10 01:33] aamoroso commented on #61
Thanks for the reply :)

I hadn't tried stringing two nodes together.  Good idea... I'll give that a go.

I've tried recording the long press via HomeAssistant before and it just gets the same code.

Cheers,
Adrian

[2020-12-10 06:58] aamoroso commented on #61
Update:  Tried chaining a bunch of nodes together but the aircon unit sees them as lots of single press events and it doesn't turn off :(

[2020-12-12 02:11] davecyf commented on #2
Looking for the same to work,  -23 is the decimal signed 2's complement of E9,  so the two lines of code is identical but in different coding type,  Since your post is two year back,  any update?

[2020-12-12 15:38] baldasan opened #66 "Problem with RM4c (62be)"
Hi,
hope I can ask this here, in case no sorry.
I've an RM4c and try to use in .node-red on a rapberry pi.
I can scan the device (below the paylod received).
cloud=false should mean that I've properly followed instruction to avoid cloud mode.
When I try to use the learning flow example nothing happen (in node settings I'm not using a catalog folder).

As additional information the device is workin

[2020-12-14 07:24] mlfunston commented on #66
Yes, if cloud = false then it should work.

Are there any other messages in the node-red-log when you try using the nodes?

[2020-12-14 08:12] baldasan commented on #66
No, I just get a closing connection message some seconds later (probably 10 sec later).
I've also tryed to attach chrome debugger and I do not see any additional messages.

[2020-12-14 10:51] mlfunston commented on #66
Yes, the system cleans up the connection and closes it later but there should be some debug messages in the node-red logs. What is the output if you have node-red-log running when you send the commands?

Also, what is the config and node setup you are using?

[2020-12-14 10:56] mlfunston commented on #59
Have added it in and will publish it soon once I've re-tested the other new updates. Perhaps put in the type id as 62be in the meantime if you want to try it.

[2020-12-14 19:13] baldasan commented on #66
I do not see any message in the node-red-log after I send the command other then "[info] [RM:ac] Broadlink: Closing Device Connection" after timeout elaspes.
Even before there is no message related to the RM flow (I've also tryed increasing the logging level from debug to trace in nodered settings.js). From the UI looks like the RM node is never activated.

I'm using the learning example flow. In

[2020-12-15 20:38] baldasan commented on #66
Solved... I did the most stupid of mistakes... ip...

Your nodes work perfectly and sorry to waste your time.

Thanks!!

[2020-12-18 20:49] Rain-ZG opened #67 "New type - RM4 mini 653a"
When I use discover command I get
typeid: "653a"
type: "Broadlink: Unconfigured Device Type: Log an issue with the device details and typeid returned as this may be a new device type."
name: "智能遥控"
cloud: false

I tried using different type ID (62be and 5f36) but it is not working correctly. It does send some codes and some not.
Also it cannot enter learn mode.

Can you please add support for it?

[2020-12-28 19:58] hghaken opened #68 "New device RM4 Pro, type 653c"
Just received from Aliexpress.
Brand new Broadlink RM4 Pro.
IR & RF - 315 & 433 MHz

Type: 653c

[2020-12-29 04:30] quadhammer commented on #59
I have the same error with that device type.  Using 62be works to learn codes, but not to report the temperature.  And yes I have the temperature cable, and it shows up correctly in Home Assistant.

Edit: actually, although the little yellow light comes on to learn codes, I can't successfully get them learnt with RF anyway.

[2021-01-07 23:27] mitjaromih opened #69 "the power reading on SP2"
the power reading on SP2 in "contrib-broadlink-controlne" does not work except sp3s this works. In this "contrib-broadlink" it works SP2 but it doesn't work SP3s. So I would ask you if you can arrange for SP2 to work in "contrib-broadlink-controlne"

[2021-01-27 16:21] cinusik commented on #67
Exactly the same here, it cannot enter learn mode. Same typeid 653a

[2021-01-30 05:10] xtrmtrk commented on #67
I too am having the same problem.  Happy to donate a RM4 mini device to you if that will help with development & debugging.

[2021-02-06 18:31] marioskamperis commented on #67
Same for me.
Cannot use device to learn 0x653a - RM4 mini

[2021-02-13 21:27] alicialiali opened #70 "Code to base64"
Hello, I would like to know the language of the code received from the remote control. Without that information I don't know how to move to base64.
Thank you for your help.

38,0,80,0,0,1,42,146,20,18,19,18,19,54,21,17,19,18,20,17,20,18,19,18,20,53,20,54,20,18,19,54,20,54,20,53,21,53,21,53,20,17,20,18,19,18,20,53,21,17,20,17,20,18,19,18,20,53,21,53,20,54,20,17,20,54,20,53,20,54,20,54,20,0,5,34,0,1

[2021-02-24 12:28] rodolfodegrande commented on #59
any news? I have the same problem here, the yellow light comes on using the 62be, but it doesn't learn the code.

[2021-03-07 20:44] KDYR commented on #59
Hi, I also got a RM4 Pro which is type 649b. Would be grateful to get an update with that type covered...

[2021-03-14 23:21] bergetun commented on #67
Same here for me.. I think its the newer firmware on the ones coming out from Aliexpress (V52078)

[2021-03-15 22:01] blackylion commented on #67
Same issue. Can be found with discover and 1.2.1, but not working at all. Can't read code, can't send code.

[2021-03-18 22:17] lehminet opened #71 "New device Broadlink RM4 pro (typeid: 649b)"
Hello,
the discover node determined my newly purchased Broadlink RM4 pro device with typeid 649b. It is running with firmware V52079.

It seems that learning IR codes isn‘t possible by using nodes RM or RMReceiver. The device doesn‘t switch to learn mode and the nodes receive a timeout after 30 seconds.

At the moment I can‘t test the IR sending functionality because I don‘t have IR codes for my d

[2021-03-22 22:50] lehminet commented on #71
Hello,
I have obtained IR codes by using a RM3 mini device. Unfortunately it is not possible to send these codes with the mentioned RM4 pro device. So I assume, the device doesn‘t react to the commands learn / send.

Best regards,
David

[2021-03-25 07:36] #66 closed, assigned to nobody

[2021-03-25 08:29] mlfunston commented on #71
I think this should be fixed in v2.1.4 now.

[2021-03-25 08:29] mlfunston commented on #68
Added in v2.1.4

[2021-03-25 08:29] #68 closed, assigned to nobody

[2021-03-25 08:30] mlfunston commented on #67
Added in v2.1.4

[2021-03-25 08:30] #67 closed, assigned to nobody

[2021-03-25 08:31] mlfunston commented on #62
Added in v2.1.4.

[2021-03-25 08:31] #62 closed, assigned to mlfunston

[2021-03-25 08:32] mlfunston commented on #59
Added in v2.1.4

[2021-03-25 08:32] #59 closed, assigned to mlfunston

[2021-03-25 08:33] #71 closed, assigned to nobody

[2021-03-25 09:36] lehminet commented on #71
I have tested v2.1.4 with my RM4 pro device and it works like a charm. Thanks a lot! :)

[2021-03-27 10:00] sprotznock opened #72 "Support to make sending RF commands with RM4 pro work"
I own a Broadlink RM4 pro (ID 0x649b) and like to send RF commands to a roller shutter. I know that currently this isn't offically supported and in fact it is not working. I am using node-red-contrib-broadlink-control v2.1.4.

I like to help with this but probably need some support.

What I have done so far:

* I successfully attached the RM4 pro to my WLAN
* I used the app to learn the RF command

[2021-03-27 13:12] sprotznock commented on #72
I have an update: I tried python-broadlink with success.

I was able to use the CLI tool with `--rfscanlearn` option to learn RF commands and `--send` to control my roller shutter.

I compared the scanned codes with the codes I grabbed from the app's filesystem: they differ!

Next I used the codes from broadlink_cli in the node-red RM function node: still without success.

Should this work? Any id

[2021-05-02 17:56] strandbein opened #73 "RM4 mini 648d discovered but no learn or send"
I own a new RM4 mini 648d, firmware 52078, node red running on a home assistant supervised raspi 4. I've reset it several times according to documentation. It will discoverd correctly, but neither learning nor sending. Integration via home assistant works fine, but via node red it would be nicer. Is there anything else I can do?

[2021-05-18 14:44] Jai-Gogineni opened #74 "broadlink-RM4-pro 433.92 is curtain remote is not learnt"
<img width="508" alt="Screenshot 2021-05-18 at 15 42 35" src="https://user-images.githubusercontent.com/6741795/118672035-d98e9900-b7ef-11eb-988f-b41061355a66.png">

[2021-06-11 05:09] sirhideo commented on #47
I have a new RM4 pro type 653c.  I can learn code from node red no problem, send the base64 from Home Assistant no problem, but cannot send through node-red.  The red LED on device never turn on when clicking the inject node :(

[2021-06-15 13:13] houser42 commented on #73
hello.
update/edited:
just a comment that I was seeing the same.  Following these instructions made it work:
https://flows.nodered.org/node/node-red-contrib-broadlink-control
 many thanks!

[2021-06-19 11:42] Sergiogu2021 commented on #73
Hi,
I have the exact same issue with same device. The device is discovered, I enter IP, MAC and Id (648d) on the RM node, but I can't learn or send. And also it says on property "cloud" = false.
And I was following those instructions from the beginning. I don't see what I might be doing wrong. I used the Broadlink app just until the point where you discover the device and assign it to your wifi. R

[2021-06-20 06:07] houser42 commented on #73
Hello @Sergiogu2021

Your device is probably in cloud mode. what worked for me was to reset the device again and then configure exactly as described in the section from the link entitled “ New Broadlink App and Cloud mode - Troubleshooting”
Good luck.

[2021-06-25 18:18] Shaquu opened #75 "Sending packet to rmMini3 is not working"
Hi,
These are the steps I did but could not trigger the button.

1. Set up RM with Broadlink app (the old one)
2. I learned a few buttons, tested them in app, they worked.
3. I exported data from iPhone to node-red
4. Discovered and set up RM device.
5. Buttons does appear in node-red, so I configured node to send OFF
6. RM is not sending button (I believe node-red is not sending it to RM actually

[2021-06-25 18:23] Shaquu commented on #75
Okay... solved.
Code fix needs to be 1

[2021-06-25 18:23] #75 closed, assigned to nobody

[2021-07-08 09:07] flashseal commented on #70
@LeandroIssa   have you solve the problem??

[2021-07-16 06:42] nickwild-999 commented on #72
I can confirm that I was able to get the Base64 code from the standard HA integration method (and can also send with this method,) but including this in an RM Node in send mode does not work

[2021-07-17 03:12] LO77ARO opened #76 "Please add Broadlink Bestcon LB1 wifi smart bulb"
i run a discover and this is the result.

array[1]
0: object
mac: "24dfa73c01cc"
ip: "192.168.10.15"
typeid: "6112"
type: "Broadlink: Unconfigured Device Type: Log an issue with the device details and typeid returned as this may be a new device type."
name: "24850E��E3�z#�"
cloud: false

[2021-07-22 13:30] eh03 opened #77 "RM4 Mini (RM4C - 62bc - v52079) not sending ir data"
iam owner of a rm4 mini (62bc) and 2x rm3 mini (2737).
all the devices are correctly discovered with discover node.
when i use "send data" through rm3 mini, all works fine.
if i use the same flow through rm4 mini, nothing happends.

[2021-08-03 19:21] houser42 opened #78 "Broadlink RM4 Pro RF - is it working for you?"
I have had great success with RM mini and IR codes with this node red git. Many thanks!
So just bought a  Broadlink RM4 Pro IR & RF 653c,  315 & 433 MHz in order to try to just switch a Champion generator on and off using a similar workflow. No luck so far. I have the unit on the wifi and it is seen by node red but no feedback seen so far when attempting to capture the on and off button son the ch

[2021-09-01 11:14] MichielioZ commented on #78
As far as I know RF isn't supposed to work with these nodes for the RM4 Pro, at least they never did for me.
This is a forked repository and I think @mlfunston just forked it and added some simple features.
My guess is that the original developer did the actual reverse engineering to make the communication work.
I personally use the exec node in Node-Red to call [python-broadlink](https://github.c

[2021-09-02 04:32] houser42 commented on #78
Thanks @MichielioZ , appreciate the reply.
I have installed python broad link but have not had time to test it yet.
Also installed the command line tools on a Ubuntu laptop and will try that too, as some people
appear to have had success with sampling the RF in there and then using the codes in this package.
Ah well. Not a all in the park but perhaps to be expected as this is a tad esoteric ;)
Tha

[2021-09-20 15:32] Raul-3 opened #81 "problema rf 315 mhz"
Hola amigo he estado investigando porque tengo un problema, te explico, el broadlink cuando le das el comando de aprender mand RF solo rastrea mandos en 433Mhz, hay alguna forma de indicarle que lo haga en 315Mhz?
cuando lo hago con la app broadlink hay un paso en el que me pide la fracuencia, la pongo y enseguida me reconoce el comando 315Mhz, gracias
Buen trabajo por tu parte

[2021-11-09 10:36] alfecu opened #82 "Rolling code"
any possibility to add rolling ??

[2021-12-25 17:56] angus123321 opened #83 "RM4 pro MAC error but still works"
node red says the workspace contains some nodes that are not properly configured and it points to RM4 pro MAC address. it still work even though I'm getting that error.
i have triple checked the IP and MAC.
i have type set to 5f36 and Catalog set to /shareddata.

[2022-01-15 11:34] FreekBos opened #85 "RM4pro-Node Red Discovery not working"
Hi, the concept is brilliant.... yet I've tried it all (I think) to get the device type of my (aliexpress) RM4pro:
- CentOS and NodeRed upgraded
- RM4pro is in 192.168.191.22
- NR is in 192.168.61.70 (pring from NR->RM4pro is stable 3-5msec)
- FW rule NR->RM4pro is ok, no antivirus, ips etc
- FW rule RM4pro->NR is ok, no antivirus, ips etc
- multicast rule NR->RM4pro is ok, data seems to flow acco

[2022-01-22 06:27] mlfunston commented on #85
Hi - It looks like you have NodeRed and the RM4 in different subnets?

Discovery and Setup both use a broadcast to 255.255.255.255, so unless it's in the same subnet the broadcast UDP packets are not sent through to the other subnet. Maybe the problem?

Can you put them in the same subnet and try?

[2022-01-22 10:33] FreekBos commented on #85
Hi @mlfunston Mark,
Yes, that's a very correct statement: I have a Fortigate Firewall, 3 WiFi networks with their own ssid and vlan.
And a VERY good hint.....!
The NodeRed is in a different subnet hence the multicast rules between the WiFi and the NodeRed network.
It would be a great feature to have a "discovery" more specific i.e. when the IP-address is know so the model/id can be discovered.
I'l

[2022-01-28 23:04] mikecay commented on #47
I have the same issue.  I have a RM4 Pro type 649b.  It seems to learn all codes but when it comes to sending only things like TV or light remotes work.  I have a remote to control my spit AC/Heating unit, the RM 4 Pro seems to learn the code and when I send the code the red LED come on but nothing happens on the AC/Heating unit.

[2022-02-15 20:11] #85 closed, assigned to nobody

[2022-02-23 16:17] msmthng opened #86 "RM4 TV Mate"
typeid: "5209"

type: "Broadlink: Unconfigured Device Type: Log an issue with the device details and typeid returned as this may be a new device type."

Is there anything I can do to use that device.

[2022-02-24 21:02] houser42 commented on #78
Is there any realistic chance that sampling RF will work with this code in the future?
I have great success with IR using this package and have a few RF items that would be great to get working at some point.
Many thanks!

[2022-02-26 11:51] MichielioZ commented on #78
I looked at the code quite some time ago and it seems to be a 1 on 1 translation from the python code to (node)js.
But the code was translated/adapted when the newer devices (like RM4 Pro) didn't exist yet.
I saw some evidence in the code that suggests that efforts have been made to make this code more "up-to-date", but obviously the person who did that didn't succeed.
So it could be fixed by some

[2022-02-27 15:52] houser42 commented on #78
Thanks @MichielioZ reply much appreciated!

I have read somewhere that sampling RF codes in the python package can then be used in this package ..
but have so far not managed to do it. Will spend some time with it and report back if I get it working. Many thanks.

[2022-03-21 17:15] javferper opened #87 "send Base64 code not working"
I have a RM4 pro type 649b. No problem learning the red node code, no problem sending the base64 from Home Assistant, but I can't send it through the red node. Node debug no show error, but device red LED never lights up when clicking injection node.
any solution? Thanks

[2022-03-24 08:11] kukudemajia commented on #27
Learning of RF code  still doesn't work for me.Device type is 272a.
node-red-contrib-broadlink-control 2.1.4
Sometimes I can learn the RF code like lists(buffer object[38,0,140......,0,0]) and then Send those out directly.
It dosen't work.

[2022-04-01 08:58] kukudemajia opened #88 "The received RF learning data is too long to be fully displayed."
Version 2.1.4 Release
![image](https://user-images.githubusercontent.com/17118600/161230379-99a25595-1470-4b96-976b-3281ca03ec69.png)
The end of the array is replaced by an ellipsis.
I can't get all learning data.
Please help to solve this problem, thanks a lot.

[2022-04-01 11:51] kukudemajia commented on #88
I can learn and send RF code through [broadlink_cli](https://github.com/mjg59/python-broadlink/tree/master/cli).But I put the code learned by broadlink_cli in node-red-contrib-broadlink-control and it didn't work.

[2022-04-01 14:06] kukudemajia commented on #88
Remove Json Node and then msg.payload is correct.

[2022-04-01 14:06] #88 closed, assigned to nobody

[2022-04-09 09:02] molodec100 commented on #69
I made changes in SP2.js

WAS
[code]

NOW
[code]

Now the SP3S shows a power similar to the readings from IHS.

[2022-04-26 12:02] milkplus27 commented on #85
@FreekBos did you ever get this working? I'm having a similar issue of NR not being able to discover my RM3 Mini, but both ARE on the same subnet. I tried setting up some firewall rules between the two IP addresses to allow traffic, too, but no dice. I am a bit stumped...

[2022-05-14 13:39] FreekBos commented on #85
Nope, never got it to work... it's a poor situation but it is the way it is.
If I ever have the time, I'm going to try sniffing the subnet to see what happens.
IF systems are on the same subnet (wired and wifi) broadcast traffic SHOULD be allowed.... a firewall ONLY picks up traffic addressed to the gateway. Having said that... I'm thinking weather or not the BL even sends multicast traffic or eve

[2022-05-18 11:20] mlfunston commented on #85
You would need to use a UDP broadcast relay on your router/firewall.

On Sat, 14 May 2022 at 21:39, Freek Bos ***@***.***> wrote:

[2022-05-24 08:45] mondedos opened #90 "Large buffer array doesn´t work"
Hello,

From the Broadlink app, I can turn on and turn off the AC, however, when I capture the AC power on code and send it via the send command, nodered indicates ok status, yet the AC does nothing. I think there is a bug regarding the length of the code array, since I have tried with other devices that have shorter codes and it works.

Can you review the code and flow that I leave below?

I woul

[2022-05-28 14:47] karmarcharger opened #91 "Unlock Broadlink Devices if locked to the Cloud"
Existing Locked RM4 pros can be unlocked without resetting, just found out, you can have the best of both worlds, the cloud services and node-red. You can do this by unchecking the lock device property in the device property from within the app.

Step One:
Tap your RM 4 Pro
![image](https://user-images.githubusercontent.com/10364143/170830368-95743d9e-5c40-413e-9175-ae07e937b182.png)

Step Two:
 T

[2022-05-30 18:21] andjones132 commented on #87
I have the exact same issue with the RM4 Pro. I have a remote to control device. I used HA to learn the Base64 codes. Out of 6 buttons on the remote, 4 of them work.

This Base64 code works:

```"scAGAeyeBgALJikMDicOKCcMKA0NKA0nDicoDScOJw0NKCcODScNKA0nDSgNJw4nKA0oDScNDQABjQ4nDicoDQ0nDicoDScNDicNJw4nKA0oDScNDSgoDQ0oDCgNKA0nDicNJygNKA0oDA4AAY0NKA0nKA0OJg4nKA0oDQ0nDicNKCcNKA0oDQ0nKA0NKA0nDicNKA0nDico

[2022-06-11 10:49] mondedos commented on #87
Hello,

I definitely confirm that it is a bug of this development. The problem is that it does not send long lR codes, neither in base 64 nor in array format.

I have performed the following test. I have two broadlink at home, the mini 3 and the mini 4 and I have tried the following scenarios.

Case 1
Code => `[38,0,88,0,0,1,33,148,19,18,18,56,17,20,18,19,17,19,18,19,18,19,18,19, 19,55,19,18,18,56

[2022-06-11 10:49] mondedos commented on #90
Hello,

I definitely confirm that it is a bug of this development. The problem is that it does not send long lR codes, neither in base 64 nor in array format.

I have performed the following test. I have two broadlink at home, the mini 3 and the mini 4 and I have tried the following scenarios.

Case 1
Code => `[38,0,88,0,0,1,33,148,19,18,18,56,17,20,18,19,17,19,18,19,18,19,18,19, 19,55,19,18,18,56

[2022-06-11 11:05] mondedos commented on #87
After reviewing the code, I think the problem may be focused on the following function of the Device.js class

`
 sendPacket(command, payload) {
        this.count = (this.count + 1) & 0xffff;
        var packet = Buffer.alloc(0x38, 0);  //Is it possible to increase the buffer?
        packet[0x00] = 0x5a;
`

I don't know if it is possible or not to increase the buffer.

`var packet = Buffer.alloc

[2022-06-11 11:07] mondedos commented on #90
After reviewing the code, I think the problem may be focused on the following function of the Device.js class

`
 sendPacket(command, payload) {
        this.count = (this.count + 1) & 0xffff;
        var packet = Buffer.alloc(0x38, 0);  //Is it possible to increase the buffer?
        packet[0x00] = 0x5a;
`

I don't know if it is possible or not to increase the buffer.

`var packet = Buffer.alloc

[2022-06-11 11:23] mondedos commented on #47
Hello,

I definitely confirm that it is a bug of this development. The problem is that it does not send long lR codes, neither in base 64 nor in array format.

I have performed the following test. I have two broadlink at home, the mini 3 and the mini 4 and I have tried the following scenarios.

Case 1
Code => [38,0,88,0,0,1,33,148,19,18,18,56,17,20,18,19,17,19,18,19,18,19,18,19, 19,55,19,18,18,56,

[2022-06-12 01:18] Jibun-no-Kage opened #92 "Using 2.1.4 on NR 2.2.2, scanning node (for devices) returns 'No devices found'?"
Using 2.1.4 on NR 2.2.2, scanning node (for devices) returns 'No devices found'?  My android phone sees my RM unit just fine.  Since there are no configuration options for the scanner/search node, how the heck to figure out what is going on?

[2022-06-12 01:22] Jibun-no-Kage opened #93 "Where is the list of device types?"
Where is the list of device types?  Node defaults to type 272a?  But no clue what device that is?  Phone App does not list a node type?  So how do we find out what type of device 'type' value we have?

[2022-06-12 01:48] Jibun-no-Kage opened #94 "Unable to read temperature using RM node with RM 4 mini (type 648a)?"
Unable to read temperature using RM node with RM 4 mini (type 648a)?  RM 4 Mini see via phone just fine.  MAC address and IP address correct.  Discovered by scanning node.  At a loss what to try next.

[2022-06-12 01:50] Jibun-no-Kage commented on #92
Works about 50 percent of the time.  Sometimes scan finds device, sometimes not?  I know my network is solid, wifi AP is in same room only about 6 feet away from RM4.  Clear line of sight RF signal visibility.

[2022-06-12 02:32] Jibun-no-Kage opened #95 "How about an example that just shows how to read the temperature?"
How about an example that just shows how to read the temperature?  You show how to create, send, and receive IR command results, but no example of how to just read the temperature?  Here is an idea, why not return the temperature/humidity data as part of the scanner node message returned?

[2022-06-12 02:33] Jibun-no-Kage commented on #93
For those that might like the information... type 648a is RM 4 Mini.

[2022-06-12 02:38] Jibun-no-Kage opened #96 "Please update the readme and github notes on the code page, you have broken links!"
The following link is BROKEN... Maybe all of them?
http://www.ibroadlink.com/a1/

[2022-06-12 03:14] Jibun-no-Kage opened #97 "Hey the link to how to disconnect device from cloud has no information, something moved or changed?"
Hey the link to how to disconnect device from cloud has no information, something moved or changed?
The following directions DO NOT EXPLAIN ANYTHING.  THE LINK REFERENCED HAS NO INFORMATION.

To reverse this, you will need to reset the device.

Suggested process is as follows:

    Remove any existing configured devices or control in the Broadlink app.
    Reset device by long press (~6 seconds) t

[2022-06-14 23:05] wang3356 opened #98 "Learning is not the"
"Unknown context store 'store' specified. Using default store."；This error occurs when learning IR/RF, the device is RM Pro +

[2022-07-04 06:56] mondedos commented on #87
It seems that the project is abandoned, nobody answers and the last update is from 2021.

[2022-07-11 16:50] BertBloemen commented on #90
Hi,

I think I had the same issue.
I had a look at the example codes that come with the package, and I noticed that they all ended on: "....,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]"

In my (recorded) codes, the end was always .....,0,13,5,13,5]

So I took my chances and replaced the "0,13,5,13,5" with "0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" and boomshakalaka there was the long awaited beep from m

[2022-07-12 06:10] mondedos opened #99 "Hi,"
Hello, can you upload the change in the code so that we can update everyone and explain how to make said update?

Thank you

Hi,

I think I had the same issue.
I had a look at the example codes that come with the package, and I noticed that they all ended on: "....,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]"

In my (recorded) codes, the end was always .....,0,13,5,13,5]

So I took my chances and repl

[2022-07-12 06:11] mondedos commented on #90
Hello [BertBloemen](https://github.com/BertBloemen),
can you upload the change in the code so that we can update everyone and explain how to make said update?

Thank you

[2022-07-12 06:49] BertBloemen commented on #90
Hi @mondedos ,
I didn't make any updates in the program code, I just change the IR codes that are recorded instead.

For example, change the following recorded blob:

[38,0,6,1,103,54,13,14,13,14,13,40,14,14,13,40,14,13,14,14,13,14,14,40, 13,40,14,13,14,14,13,14,13,40,14,40,14,14,13,14,13,17,14,14,13,14,13,14,13, 14,14,13,14,14,13,14,13,14,14,13,14,14,13,40,14,13,14,14,13,14,14,13,14,13, 14,14,13,

[2022-07-23 18:26] Tylast opened #100 "Since Node Red 13.1 update - RM3 Doesn't Work"
I upgraded Node Red in Home Assistant to 13.1 & it broke my RM3 flows.  They had been working for nearly 2 years.  In the Node Red log, I now have the following error:  `[RM:RM3] Broadlink: Closing Device Connection`

I've removed the integration & re-added it.  I reset my RM3.  After a few failed attempts to keep it off the cloud servers using the Broadlink apps (on both iOS & Google), I was able

[2022-07-27 00:31] Tylast commented on #100
It was my fault.  Reserved IP change on my new wifi router.

[2022-07-27 00:31] #100 closed, assigned to nobody

[2022-10-23 20:19] jb-nobody opened #103 "New typeid for RM4 mini"
I received a new RM4 mini that reports typeid: "5216".

Thanks,
Jens